{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Codefresh api team",
      "url": "http://www.codefresh.io"
    },
    "description": "Codefresh api openapi-3.0 specification",
    "termsOfService": "http://www.codefresh.io",
    "title": "Codefresh API",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://g.codefresh.io/api"
    }
  ],
  "paths": {
    "/abac": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "getAllRules1",
        "summary": "getAllRules"
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "createRule1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "action": {
                    "type": "string"
                  },
                  "resource": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "createRule"
      }
    },
    "/abac/batch": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "createOrDeleteRules1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "create": {
                    "items": {
                      "$ref": "#/components/requestBodies/abac"
                    },
                    "type": "array"
                  },
                  "delete": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "createOrDeleteRules"
      }
    },
    "/abac/resource/{resource}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the resource",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "getRulesByResource1",
        "summary": "getRulesByResource"
      }
    },
    "/abac/tags/rule/{rule}": {
      "post": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "updateRuleTags1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "updateRuleTags"
      }
    },
    "/abac/tags/rules": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "createRulesTags1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "rules": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "createRulesTags"
      }
    },
    "/abac/team/{team}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the team",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "getRulesByTeamId1",
        "summary": "getRulesByTeamId"
      }
    },
    "/abac/teamRules": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "createRulesInBatch1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/abac"
              }
            }
          },
          "required": true
        },
        "summary": "createRulesInBatch"
      }
    },
    "/abac/{rule}": {
      "delete": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "deleteRule1",
        "summary": "deleteRule"
      },
      "get": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "getRule1",
        "summary": "getRule"
      }
    },
    "/accounts/{accountId}/{userId}": {
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "deleteUserFromAccount1",
        "summary": "deleteUserFromAccount"
      }
    },
    "/accounts/{accountId}/{userId}/adduser": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "addExistingUserToAccount1",
        "summary": "addExistingUserToAccount"
      }
    },
    "/accounts/{accountId}/{userId}/admin": {
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "deleteAdmin1",
        "summary": "deleteAdmin"
      },
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "aetAsAdmin1",
        "summary": "aetAsAdmin"
      }
    },
    "/accounts/{id}/adduser": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Adds a not existing user to an account. the provider field is optional and if not provided it will be taken from the account model",
        "operationId": "addUserToAccount1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userDetails": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "addUserToAccount"
      }
    },
    "/accounts/{id}/update": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet: update the user defined account fields. Receives a settings object (will be defined later)",
        "operationId": "updateAccountPublicSettings1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "notifications": {
                    "items": {
                      "properties": {
                        "events": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "slack": {
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "webhook",
                            "slack"
                          ],
                          "type": "string"
                        },
                        "webhook": {
                          "properties": {
                            "method": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "updateAccountPublicSettings"
      }
    },
    "/accounts/{id}/updateuser": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "updateUserDetails1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "updateUserDetails"
      }
    },
    "/accounts/{id}/users": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get all users of an account",
        "operationId": "getUsersForAccount1",
        "summary": "getUsersForAccount"
      }
    },
    "/admin/accounts": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "get all the accounts in the system",
        "operationId": "getAllAccounts1",
        "summary": "getAllAccounts"
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Add new account. Receives an account object ",
        "operationId": "addAccount1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "addAccount"
      }
    },
    "/admin/accounts/addpendinguser": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "addPendingUserWithoutAccount1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "provider": {
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "userName": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "provider"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "addPendingUserWithoutAccount"
      }
    },
    "/admin/accounts/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "deleteAccount1",
        "summary": "deleteAccount"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get an account by id",
        "operationId": "getById1",
        "summary": "getById"
      }
    },
    "/admin/accounts/{id}/update": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet: Update the account info that only codefresh admins (codefresh employees, not account admin) can access",
        "operationId": "updateAccount1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "updateAccount"
      }
    },
    "/admin/runtime-environments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "getAll1",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "getAll"
      }
    },
    "/admin/runtime-environments/account/default/{account}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "setDefaultForAccount1",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "setDefaultForAccount"
      }
    },
    "/admin/runtime-environments/account/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "runtimeEnvironments"
        ],
        "operationId": "getByAccount1",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "getByAccount"
      }
    },
    "/admin/runtime-environments/default/{plan}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "setDefault1",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "setDefault"
      }
    },
    "/admin/runtime-environments/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "updateSysRe1",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "updateSysRe"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "deleteSysRe1",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "deleteSysRe"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "getSysRe1",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "getSysRe"
      }
    },
    "/admin/runtime-environments/{plan}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "update1",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "update"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "delete1",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "delete"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "adminRuntimeEnvironments"
        ],
        "operationId": "get1",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "get"
      }
    },
    "/auth/key": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "tokens"
        ],
        "operationId": "generateToken1",
        "parameters": [
          {
            "in": "query",
            "name": "subjectType",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "subjectReference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "generateToken"
      }
    },
    "/auth/key/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "tokens"
        ],
        "operationId": "delete2",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "delete"
      }
    },
    "/auth/keys": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "tokens"
        ],
        "operationId": "getTokens1",
        "parameters": [],
        "summary": "getTokens"
      }
    },
    "/builds": {
      "get": {
        "parameters": [
          {
            "description": "account name",
            "in": "query",
            "name": "account",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "repo owner",
            "in": "query",
            "name": "repoOwner",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "repo name",
            "in": "query",
            "name": "repoName",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "builds"
        ],
        "operationId": "getAll2",
        "summary": "getAll"
      }
    },
    "/builds/rebuild/{id}": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "builds"
        ],
        "operationId": "rebuild1",
        "summary": "rebuild"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "restart1",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "summary": "restart"
      }
    },
    "/builds/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "get2",
        "summary": "get"
      }
    },
    "/builds/{buildId}/update": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/buildId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "update2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pullRequest": {
                    "properties": {
                      "createOnSuccess": {
                        "type": "boolean"
                      },
                      "mergeOnSuccess": {
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "update"
      }
    },
    "/builds/{serviceId}/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "buildByService1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "branch": {
                    "type": "string"
                  },
                  "buildFlags": {
                    "properties": {
                      "nocache": {
                        "default": false,
                        "description": "use docker cache",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "sha": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "buildByService"
      }
    },
    "/clusters": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "clusters"
        ],
        "operationId": "getAll3",
        "parameters": [],
        "summary": "getAll"
      }
    },
    "/compositions": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "getAll4",
        "summary": "getAll"
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "create1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "isAdvanced": {
                    "default": false,
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "yamlJson": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "create"
      }
    },
    "/compositions/": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "create2",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "create"
      }
    },
    "/compositions/{identifier}/run": {
      "post": {
        "parameters": [
          {
            "description": "id or name of a composition",
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "launch1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "launch"
      }
    },
    "/compositions/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "delete3",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "description": "id or name of a composition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "getByIdentifier1",
        "summary": "getByIdentifier"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "update3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "isAdvanced": {
                    "default": false,
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "yamlJson": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Update the name/variables/body of the composition with the id inserted",
          "required": true
        },
        "summary": "update"
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "patch1",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "patch"
      }
    },
    "/compositions/{id}/duplicate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "duplicate1",
        "summary": "duplicate"
      }
    },
    "/contexts": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "getAll5",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "decrypt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "getAll"
      }
    },
    "/contexts/": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "create3",
        "parameters": [
          {
            "in": "query",
            "name": "skipValidation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "create"
      }
    },
    "/contexts/{name}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "delete4",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "delete"
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "replace1",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "replace"
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "patch2",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "patch"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "get3",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "decrypt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "get"
      }
    },
    "/environments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "index1",
        "summary": "index"
      }
    },
    "/environments/all/terminate": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "terminateAll1",
        "summary": "terminateAll"
      }
    },
    "/environments/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "get4",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "get"
      }
    },
    "/environments/{id}/pause": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "pause1",
        "summary": "pause"
      }
    },
    "/environments/{id}/rename/{newName}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the environment to rename",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The new name to assign to the environment",
            "in": "path",
            "name": "newName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "rename1",
        "summary": "rename"
      }
    },
    "/environments/{id}/start": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "start1",
        "summary": "start"
      }
    },
    "/environments/{id}/status": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "status1",
        "summary": "status"
      }
    },
    "/environments/{id}/stop": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "stop1",
        "summary": "stop"
      }
    },
    "/environments/{id}/terminate": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "terminate1",
        "summary": "terminate"
      }
    },
    "/environments/{id}/unpause": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "environments"
        ],
        "operationId": "unpause1",
        "summary": "unpause"
      }
    },
    "/features/{accountId}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the account to query for feature availability",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "features"
        ],
        "operationId": "account1",
        "summary": "account"
      }
    },
    "/helm/boards": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "deleteAll1",
        "summary": "deleteAll"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "filter": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Board objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "getAll6",
        "summary": "getAll"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "create4",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_boardOptions"
        },
        "summary": "create"
      }
    },
    "/helm/boards/name/{name}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardName"
          },
          {
            "description": "include sections in response",
            "in": "query",
            "name": "columns",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "get5",
        "summary": "get"
      }
    },
    "/helm/boards/sections": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "boardId": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "index": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "type": {
                      "example": "Helm",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Section object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "create5",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_sectionOptions"
        },
        "summary": "create"
      }
    },
    "/helm/boards/sections/reorder": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "reorder1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "[sectionId]": {
                    "example": "<section index>",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "reorder"
      }
    },
    "/helm/boards/sections/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "boardId": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "index": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "type": {
                      "example": "Helm",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "delete5",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "get6",
        "summary": "get"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "patch3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "boardId": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "index": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "section": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "patch"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "update4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "boardId": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "index": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "section": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "update"
      }
    },
    "/helm/boards/{boardId}/sections/": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardIdpath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "deleteAll2",
        "summary": "deleteAll"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardIdpath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "boardId": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "index": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "type": {
                      "example": "Helm",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Section object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "getAll7",
        "summary": "getAll"
      }
    },
    "/helm/boards/{boardId}/sections/name/{sectionName}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardIdpath"
          },
          {
            "$ref": "#/components/parameters/sectionName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "get7",
        "summary": "get"
      }
    },
    "/helm/boards/{boardId}/sections": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sections"
        ],
        "operationId": "getAll8",
        "parameters": [
          {
            "in": "path",
            "name": "boardId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "getAll"
      }
    },
    "/helm/boards/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "delete6",
        "summary": "delete"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "get8",
        "summary": "get"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "patch4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "filter": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "patch"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm boards"
        ],
        "operationId": "update5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "filter": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "update"
      }
    },
    "/helm/repos": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm"
        ],
        "operationId": "createRepo1",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "createRepo"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm"
        ],
        "operationId": "getAllRepos1",
        "parameters": [
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "getAllRepos"
      }
    },
    "/helm/repos/{name}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm"
        ],
        "operationId": "deleteRepo1",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "deleteRepo"
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm"
        ],
        "operationId": "updateRepo1",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "updateRepo"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm"
        ],
        "operationId": "get9",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "get"
      }
    },
    "/hermes/events": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "createEvent1",
        "parameters": [
          {
            "in": "query",
            "name": "public",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "createEvent"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getEvents1",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "public",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "getEvents"
      }
    },
    "/hermes/events/{event}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getEvent1",
        "parameters": [
          {
            "in": "path",
            "name": "event",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "getEvent"
      }
    },
    "/hermes/events/{event}/{context}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "deleteEvent1",
        "parameters": [
          {
            "in": "path",
            "name": "event",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "context",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "deleteEvent"
      }
    },
    "/hermes/triggers/": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getTriggers1",
        "parameters": [],
        "summary": "getTriggers"
      }
    },
    "/hermes/triggers/event/{event}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getEventTriggers1",
        "parameters": [
          {
            "in": "path",
            "name": "event",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "getEventTriggers"
      }
    },
    "/hermes/triggers/pipeline/{pipeline}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getPipelineTriggers1",
        "parameters": [
          {
            "in": "path",
            "name": "pipeline",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "getPipelineTriggers"
      }
    },
    "/hermes/triggers/{event}/{pipeline}": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "create6",
        "parameters": [
          {
            "in": "path",
            "name": "event",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "pipeline",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "create"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "deleteTrigger1",
        "parameters": [
          {
            "in": "path",
            "name": "event",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "pipeline",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "deleteTrigger"
      }
    },
    "/hermes/types": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getAllTypes1",
        "parameters": [],
        "summary": "getAllTypes"
      }
    },
    "/hermes/types/{type}/{kind}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "triggers"
        ],
        "operationId": "getType1",
        "parameters": [
          {
            "in": "path",
            "name": "type",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "kind",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "getType"
      }
    },
    "/hermes/version": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "version"
        ],
        "operationId": "getHermesVersion1",
        "parameters": [],
        "summary": "getHermesVersion"
      }
    },
    "/images": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "images"
        ],
        "operationId": "getAll9",
        "parameters": [],
        "summary": "getAll"
      }
    },
    "/images/external": {
      "parameters": [],
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "images"
        ],
        "operationId": "addImageFromExternalSource1",
        "summary": "addImageFromExternalSource"
      }
    },
    "/images/{imageId}": {
      "get": {
[...]
