{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Codefresh",
      "url": "https://www.codefresh.io"
    },
    "description": "Codefresh API openAPI 3.0 specification",
    "termsOfService": "https://codefresh.io/docs/docs/terms-and-privacy-policy/terms-of-service/",
    "title": "Codefresh API",
    "version": "0.0.2",
    "x-logo": {
      "url": "https://i.ibb.co/X7kg7jb/image.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Codefresh"
    }
  },
  "x-service-name": "api-public",
  "x-base-path": "/api",
  "x-internal-services": [
    "pipeline-manager",
    "api"
  ],
  "x-endpoint-conditions": [
    {
      "weight": 0,
      "condition": "global.has-general-service-role",
      "handlerRegex": "(.*)"
    }
  ],
  "servers": [
    {
      "url": "https://g.codefresh.io/api"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "x-filters": [
    {
      "pathRegex": "/builds/{serviceId}/",
      "methods": [
        "post"
      ]
    },
    {
      "pathRegex": "/builds/{buildId}/update",
      "methods": [
        "post"
      ]
    },
    {
      "tags": [
        "users",
        "firebase",
        "version",
        "payments"
      ]
    }
  ],
  "x-tagGroups": [
    {
      "name": "Pipelines / Builds",
      "tags": [
        "builds",
        "images",
        "pipelines",
        "step-types",
        "progress",
        "triggers",
        "triggers.events",
        "triggers.types",
        "annotations",
        "version",
        "firebase"
      ]
    },
    {
      "name": "Kubernetes / Helm",
      "tags": [
        "kubernetes",
        "helm.boards",
        "helm.charts",
        "helm.releases",
        "helm.sections"
      ]
    },
    {
      "name": "Swarm",
      "tags": [
        "compositions",
        "environments"
      ]
    },
    {
      "name": "Integrations / Contexts",
      "tags": [
        "clusters",
        "contexts",
        "helm.repos",
        "registries",
        "repos"
      ]
    },
    {
      "name": "Account Management",
      "tags": [
        "abac",
        "accounts",
        "payments",
        "runtimeEnvs",
        "teams",
        "tokens",
        "users",
        "views"
      ]
    },
    {
      "name": "User Properties",
      "tags": [
        "favorites"
      ]
    },
    {
      "name": "On-Premise",
      "tags": [
        "features",
        "onPrem.runtimeEnvs",
        "onPrem.runtimeEnvs.account",
        "onPrem.runtimeEnvs.plan",
        "onPrem.runtimeEnvs.system"
      ]
    }
  ],
  "tags": [
    {
      "name": "Pipelines",
      "description": "pipelines",
      "x-id": "pipelines"
    },
    {
      "name": "Views",
      "description": "views",
      "x-id": "views"
    },
    {
      "name": "Step-types",
      "description": "step-types",
      "x-id": "step-types"
    },
    {
      "name": "Builds",
      "description": "builds",
      "x-id": "builds"
    },
    {
      "name": "Contexts",
      "description": "contexts",
      "x-id": "contexts"
    },
    {
      "name": "Images",
      "description": "images",
      "x-id": "images"
    },
    {
      "name": "Triggers",
      "description": "triggers",
      "x-id": "triggers"
    },
    {
      "name": "Triggers Types",
      "description": "triggers.types",
      "x-id": "triggers.types"
    },
    {
      "name": "Triggers Events",
      "description": "triggers.events",
      "x-id": "triggers.events"
    },
    {
      "name": "Annotations",
      "description": "annotations",
      "x-id": "annotations"
    },
    {
      "name": "Environments",
      "description": "environments",
      "x-id": "environments"
    },
    {
      "name": "Compositions",
      "description": "compositions",
      "x-id": "compositions"
    },
    {
      "name": "Helm Charts",
      "description": "helm.charts",
      "x-id": "helm.charts"
    },
    {
      "name": "Helm Releases",
      "description": "helm.releases",
      "x-id": "helm.releases"
    },
    {
      "name": "Helm Repos",
      "description": "helm.repos",
      "x-id": "helm.repos"
    },
    {
      "name": "Helm Boards",
      "description": "helm.boards",
      "x-id": "helm.boards"
    },
    {
      "name": "Helm Sections",
      "description": "helm.sections",
      "x-id": "helm.sections"
    },
    {
      "name": "Repos",
      "description": "repos",
      "x-id": "repos"
    },
    {
      "name": "Teams",
      "description": "teams",
      "x-id": "teams"
    },
    {
      "name": "Kubernetes",
      "description": "kubernetes",
      "x-id": "kubernetes"
    },
    {
      "name": "Version",
      "description": "version",
      "x-id": "version"
    },
    {
      "name": "Firebase",
      "description": "firebase",
      "x-id": "firebase"
    },
    {
      "name": "Users",
      "description": "users",
      "x-id": "users"
    },
    {
      "name": "Runtime Environments",
      "description": "runtimeEnvs",
      "x-id": "runtimeEnvs"
    },
    {
      "name": "Registries",
      "description": "registries",
      "x-id": "registries"
    },
    {
      "name": "Progress",
      "description": "progress",
      "x-id": "progress"
    },
    {
      "name": "Payments",
      "description": "payments",
      "x-id": "payments"
    },
    {
      "name": "Providers",
      "description": "providers",
      "x-id": "providers"
    },
    {
      "name": "Features",
      "description": "features",
      "x-id": "features"
    },
    {
      "name": "Clusters",
      "description": "clusters",
      "x-id": "clusters"
    },
    {
      "name": "Tokens",
      "description": "tokens",
      "x-id": "tokens"
    },
    {
      "name": "Runtime Environments.",
      "description": "onPrem.runtimeEnvs",
      "x-id": "onPrem.runtimeEnvs"
    },
    {
      "name": "Runtime Environments (Plan)",
      "description": "onPrem.runtimeEnvs.plan",
      "x-id": "onPrem.runtimeEnvs.plan"
    },
    {
      "name": "Runtime Environments (System)",
      "description": "onPrem.runtimeEnvs.system",
      "x-id": "onPrem.runtimeEnvs.system"
    },
    {
      "name": "Runtime Environments (Account)",
      "description": "onPrem.runtimeEnvs.account",
      "x-id": "onPrem.runtimeEnvs.account"
    },
    {
      "name": "Accounts",
      "description": "accounts",
      "x-id": "accounts"
    },
    {
      "name": "Abac",
      "description": "abac",
      "x-id": "abac"
    },
    {
      "name": "Approval",
      "description": "Approval",
      "x-id": "approval"
    }
  ],
  "paths": {
    "/abac": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-list",
        "summary": "List rules",
        "parameters": [],
        "x-sdk-interface": "abac.rules.list"
      },
      "post": {
        "x-action": "createGrantRule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "action": {
                    "type": "string"
                  },
                  "resource": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rule",
        "parameters": [],
        "x-sdk-interface": "abac.rules.create"
      }
    },
    "/abac/batch": {
      "post": {
        "x-action": "updateRules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-create-or-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "create": {
                    "items": {
                      "$ref": "#/components/schemas/abac"
                    },
                    "type": "array"
                  },
                  "delete": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create or delete rules",
        "parameters": [],
        "x-sdk-interface": "abac.rules.createOrDelete"
      }
    },
    "/abac/resource/{resource}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the resource",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-list-by-resource",
        "summary": "Get rules by resource",
        "x-sdk-interface": "abac.rules.listByResource"
      }
    },
    "/abac/tags/rule/{rule}": {
      "post": {
        "x-action": "updateRule",
        "x-entityId": {
          "pathId": "params.rule",
          "pathName": "body.tags[0]"
        },
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-tags-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update rule tags",
        "x-sdk-interface": "abac.rules.tags.update"
      }
    },
    "/abac/tags/rules": {
      "post": {
        "x-action": "updateTagsForRules",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-tags-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "rules": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rules tags",
        "parameters": [],
        "x-sdk-interface": "abac.rules.tags.create"
      }
    },
    "/abac/team/{teamId}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the team",
            "in": "path",
            "name": "teamId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-list-by-team",
        "summary": "Get rules by team id",
        "x-sdk-interface": "abac.rules.listByTeam"
      }
    },
    "/abac/teamRules": {
      "post": {
        "x-action": "createRulesForTeam",
        "x-entityId": {
          "pathName": "body.teams[0]"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-create-in-batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/abac"
              }
            }
          },
          "required": true
        },
        "summary": "Create rules in batch",
        "parameters": [],
        "x-sdk-interface": "abac.rules.createInBatch"
      }
    },
    "/abac/{rule}": {
      "delete": {
        "x-action": "deleteRuleForTeam",
        "x-entityId": {
          "pathName": "params.rule"
        },
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-delete",
        "summary": "Delete rule",
        "x-sdk-interface": "abac.rules.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "abac"
        ],
        "operationId": "abac-rules-get",
        "summary": "Get rule",
        "x-sdk-interface": "abac.rules.get"
      }
    },
    "/accounts/{accountId}/{userId}": {
      "delete": {
        "x-action": "removeUserFromAccount",
        "x-entityId": "params.accountId",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-user-from-account",
        "summary": "Delete user from account",
        "x-sdk-interface": "accounts.deleteUserFromAccount"
      }
    },
    "/accounts/{accountId}/{userId}/resendInvite": {
      "post": {
        "x-action": "resendInviteToUser",
        "x-entityId": "params.accountId",
        "operationId": "accounts-resend-invite",
        "tags": [
          "accounts"
        ],
        "summary": "Resend invite",
        "x-sdk-interface": "accounts.resendInvite",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        }
      }
    },
    "/accounts/{accountId}/{userId}/adduser": {
      "post": {
        "x-action": "addExistingUserToAccount",
        "x-entityId": "params.accountId",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-add-existing-user-to-account",
        "summary": "Add existing user to account",
        "x-sdk-interface": "accounts.addExistingUserToAccount"
      }
    },
    "/accounts/{accountId}/{userId}/admin": {
      "delete": {
        "x-entityId": "params.accountId",
        "x-action": "removeUserFromAdmins",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-delete-admin",
        "summary": "Delete admin",
        "x-sdk-interface": "accounts.deleteAdmin"
      },
      "post": {
        "x-entityId": "params.accountId",
        "x-action": "makeUserAdmin",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-set-as-admin",
        "summary": "Set as admin",
        "x-sdk-interface": "accounts.setAsAdmin"
      }
    },
    "/accounts/{accountId}/adduser": {
      "post": {
        "x-action": "addUserToAccount",
        "x-entityId": "body.accountId",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Adds a not existing user to an account. the provider field is optional and if not provided it will be taken from the account model",
        "operationId": "accounts-add-user-to-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userDetails": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Add user to account",
        "x-sdk-interface": "accounts.addUserToAccount"
      }
    },
    "/accounts/{accountId}/update": {
      "post": {
        "x-action": "updateAccount",
        "x-entityId": {
          "pathId": "params.accountId",
          "pathName": "body.name"
        },
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet: update the user defined account fields. Receives a settings object (will be defined later)",
        "operationId": "accounts-update-account-public-settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "integrations": {
                    "type": "object",
                    "x-secure": true
                  },
                  "notifications": {
                    "items": {
                      "properties": {
                        "events": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "slack": {
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "webhook",
                            "slack"
                          ],
                          "type": "string"
                        },
                        "webhook": {
                          "properties": {
                            "method": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update account public settings",
        "x-sdk-interface": "accounts.updateAccountPublicSettings"
      }
    },
    "/accounts/{accountId}/{userId}/updateuser": {
      "post": {
        "x-action": "updateUserByAdmin",
        "x-entityId": "params.accountId",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-update-user-details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "logins": {
                    "type": "object",
                    "x-secure": true
                  },
                  "key": {
                    "type": "object",
                    "x-secure": true
                  },
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update user details",
        "x-sdk-interface": "accounts.updateUserDetails"
      }
    },
    "/accounts/{accountId}/users": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "List users of an account",
        "operationId": "accounts-get-users-for-account",
        "summary": "Get users for account",
        "x-sdk-interface": "accounts.getUsersForAccount"
      }
    },
    "/admin/accounts": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "get all the accounts in the system",
        "operationId": "accounts-list-accounts",
        "summary": "List accounts",
        "parameters": [],
        "x-sdk-interface": "accounts.listAccounts"
      },
      "post": {
        "x-action": "createAccount",
        "x-audit": {
          "name": {
            "path": "name",
            "source": "res"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "x-entityId": {
          "pathName": "body.name"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Add new account. Receives an account object ",
        "operationId": "accounts-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add account",
        "parameters": [],
        "x-sdk-interface": "accounts.addAccount"
      }
    },
    "/admin/accounts/addpendinguser": {
      "post": {
        "x-action": "addPendingUser",
        "x-audit": {
          "name": {
            "path": "body.email",
            "source": "req"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-add-pending-user-without-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "provider": {
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "userName": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "provider"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add pending user without account",
        "parameters": [],
        "x-sdk-interface": "accounts.addPendingUserWithoutAccount"
      }
    },
    "/admin/accounts/{accountId}": {
      "delete": {
        "x-action": "deleteAccount",
        "x-entityId": "params.accountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-account",
        "summary": "Delete account",
        "x-sdk-interface": "accounts.deleteAccount"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Get an account by id",
        "operationId": "accounts-get-by-id",
        "summary": "Get by id",
        "x-sdk-interface": "accounts.getById"
      }
    },
    "/admin/accounts/{id}/update": {
      "post": {
        "x-action": "updateAccount",
        "x-entityId": {
          "pathId": "params.id",
          "pathName": "body.accountDetails.name"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet: Update the account info that only codefresh admins (codefresh employees, not account admin) can access",
        "operationId": "accounts-update-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountDetails": {
                    "type": "object",
                    "properties": {
                      "integrations": {
                        "type": "object",
                        "x-secure": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Update account",
        "x-sdk-interface": "accounts.updateAccount"
      }
    },
    "/admin/accounts/{id}/rename": {
      "post": {
        "x-action": "renameAccount",
        "x-entityId": {
          "pathId": "params.id",
          "pathName": "body.name"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-update-account-by-admin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrations": {
                    "type": "object",
                    "x-secure": true
                  }
                }
              }
            }
          }
        },
        "summary": "Rename account",
        "x-sdk-interface": "accounts.renameAccountByAdmin"
      }
    },
    "/admin/runtime-environments": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs"
        ],
        "operationId": "onPrem-runtimeEnvs-list",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "Limit"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            },
            "description": "Offset"
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            },
            "description": "Account ids"
          }
        ],
        "summary": "List",
        "x-sdk-interface": "onPrem.runtimeEnvs.list"
      }
    },
    "/admin/runtime-environments/account/default/{account}/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "setDefaultRuntimeEnvByAdminToAccount",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.account"
        ],
        "operationId": "onPrem-runtimeEnvs-account-set-default",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Account"
          },
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          }
        ],
        "summary": "Set default for account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.setDefault"
      }
    },
    "/admin/runtime-environments/account/modify/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "addRuntimeEnvToAccountByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.account"
        ],
        "operationId": "onPrem-runtimeEnvs-account-modify",
        "parameters": [
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          }
        ],
        "summary": "Add to account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.modify"
      },
      "delete": {
        "x-action": "removeRuntimeEnvFromAccountByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.account"
        ],
        "operationId": "onPrem-runtimeEnvs-account-delete",
        "parameters": [
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          }
        ],
        "summary": "Delete for account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.delete"
      }
    },
    "/admin/runtime-environments/account/{account}": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.account"
        ],
        "operationId": "onPrem-runtimeEnvs-account-list",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Account"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            },
            "description": "Limit"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            },
            "description": "Offset"
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            },
            "description": "Account ids"
          }
        ],
        "summary": "Get by account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.list"
      }
    },
    "/admin/runtime-environments/default/{plan}/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "setDefaultRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.plan"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-set-default",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Plan"
          },
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          }
        ],
        "summary": "Set default",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.setDefault"
      }
    },
    "/admin/runtime-environments/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "upsertRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.system"
        ],
        "operationId": "onPrem-runtimeEnvs-system-update",
        "parameters": [
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "description": "Runtime environment name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "description": "Extend or not",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "description": "Description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Update sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.update"
      },
      "delete": {
        "x-action": "deleteRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.system"
        ],
        "operationId": "onPrem-runtimeEnvs-system-delete",
        "parameters": [
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            },
            "description": "Force"
          }
        ],
        "summary": "Delete sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.delete"
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.system"
        ],
        "operationId": "onPrem-runtimeEnvs-system-get",
        "parameters": [
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "description": "Version"
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            },
            "description": "Extend"
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            },
            "description": "History"
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            },
            "description": "Successors"
          }
        ],
        "summary": "Get sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.get"
      }
    },
    "/admin/runtime-environments/{plan}/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "upsertRuntimeEnvByAdmin",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.plan"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-update",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Plan"
          },
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            },
            "description": "Extend"
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            },
            "description": "Description"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Update",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.update"
      },
      "delete": {
        "x-action": "deleteRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs.plan"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-delete",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Plan"
          },
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            },
            "description": "Force"
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.delete"
      },
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "onPrem.runtimeEnvs"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-get",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Plan"
          },
          {
            "in": "path",
            "name": "runtimeEnvironmentName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Runtime environment name"
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            },
            "description": "Version"
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            },
            "description": "Extend"
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            },
            "description": "History"
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            },
            "description": "Successors"
          }
        ],
        "summary": "Get",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.get"
      }
    },
    "/admin/user/{userName}": {
      "delete": {
        "x-action": "deleteUser",
        "x-entityId": {
          "pathName": "params.userName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "user"
        ],
        "operationId": "user-delete",
        "parameters": [
          {
            "in": "path",
            "name": "userName",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "User name"
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "user.delete"
      }
    },
    "/admin/user/adminRole": {
      "post": {
        "x-action": "changeAdminRole",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "body.userName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "user"
        ],
        "operationId": "user-change-admin-role",
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Change role",
        "x-sdk-interface": "user.changeRole"
      }
    },
    "/admin/user/account": {
      "post": {
        "x-action": "changeUserAccount",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "body.userName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "user"
        ],
        "operationId": "user-change-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Json"
                    },
                    "x-secure": true
                  }
                }
              }
            }
          }
        },
        "summary": "Change account",
        "x-sdk-interface": "user.changeAccount"
      }
    },
    "/admin/user/localProvider": {
      "delete": {
        "x-action": "deleteLocalProvider",
        "x-entityId": {
          "pathName": "query.userName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "user"
        ],
        "operationId": "user-delete-local-provider",
        "summary": "Delete local provider",
        "x-sdk-interface": "user.deleteLocalProvider"
      },
      "post": {
        "x-action": "updateLocalProviderPassword",
        "x-entityId": {
          "pathName": "request.body.userName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "user"
        ],
        "operationId": "user-update-local-provider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "x-secure": true
                  }
                }
              }
            }
          }
        },
        "summary": "Update local provider",
        "x-sdk-interface": "user.updateLocalProvider"
      }
    },
    "/admin/user/{userId}/activate": {
      "post": {
        "x-action": "activateUser",
        "x-entityId": "params.userId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "user"
        ],
        "operationId": "user-activate-user",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "User ID"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Activate user",
        "x-sdk-interface": "user.activate.user"
      }
    },
    "/admin/idp": {
      "post": {
        "x-action": "createIDP",
        "x-audit": {
          "name": {
            "path": "body.clientName",
            "source": "req"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "idp"
        ],
        "operationId": "idp-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": [
                    "clientName",
                    "clientType"
                  ]
                }
              }
            }
          }
        },
        "summary": "Create IDP",
        "x-sdk-interface": "idp.create"
      },
      "put": {
        "x-action": "updateIDP",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "body.clientName"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "idp"
        ],
        "operationId": "idp-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": [
                    "clientName",
                    "clientType"
                  ]
                }
              }
            }
          }
        },
        "summary": "Update IDP",
        "x-sdk-interface": "idp.update"
      }
    },
    "/admin/idp/addAccount": {
      "post": {
        "x-action": "addAccountToIDP",
        "x-entityId": "body.IDPConfigId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "idp"
        ],
        "operationId": "idp-add-account",
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Add to account",
        "x-sdk-interface": "idp.add-account"
      }
    },
    "/admin/idp/{id}": {
      "delete": {
        "x-action": "deleteIDP",
        "x-entityId": "params.id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "idp"
        ],
        "operationId": "idp-delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "idp id"
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "idp.delete"
      }
    },
    "/admin/analytic/addAccount": {
      "put": {
        "x-action": "addAccountToAnalytic",
        "x-entityId": {
          "pathName": "body.name"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "analytic"
        ],
        "operationId": "analytic-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "summary": "Add account",
        "x-sdk-interface": "analytic.add.account"
      }
    },
    "/admin/customers": {
      "post": {
        "x-action": "createCustomer",
        "x-audit": {
          "name": {
            "path": "body.name",
            "source": "req"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "customers"
        ],
        "operationId": "customers-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Create",
        "x-sdk-interface": "customers.create"
      }
    },
    "/admin/customers/{customerId}/{accountId}/assignAccountToCustomer": {
      "post": {
        "x-action": "assignAccountToCustomer",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "customers"
        ],
        "operationId": "customers-assign-account",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID",
            "required": true
          },
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Assign account",
        "x-sdk-interface": "customers.assignAccount"
      }
    },
    "/admin/customers/{customerId}/updateCustomerLimits": {
      "put": {
        "x-action": "updateCustomerLimits",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "customers"
        ],
        "operationId": "customers-update-limits",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Update limits",
        "x-sdk-interface": "customers.updateLimits"
      }
    },
    "/admin/customers/{customerId}/{accountId}/detachAccountFromCustomer": {
      "post": {
        "x-action": "detachAccountFromCustomer",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "customers"
        ],
        "operationId": "customers-detach-account",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID",
            "required": true
          },
          {
            "in": "path",
            "name": "accountId",
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Detach account",
        "x-sdk-interface": "customers.detachAccount"
      }
    },
    "/admin/customers/{customerId}/{userId}/addCustomerAdmin": {
      "post": {
        "x-action": "addCustomerAdmin",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "customers"
        ],
        "operationId": "customers-add-admin",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID",
            "required": true
          },
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "description": "User ID",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Add admit",
        "x-sdk-interface": "customers.addAdmin"
      }
    },
    "/admin/customers/{customerId}/{userId}/removeCustomerAdmin": {
      "post": {
        "x-action": "removeCustomerAdmin",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "customers"
        ],
        "operationId": "customers-remove-admin",
        "parameters": [
          {
            "in": "path",
            "name": "customerId",
            "schema": {
              "type": "string"
            },
            "description": "Customer ID",
            "required": true
          },
          {
            "in": "path",
            "name": "userId",
            "schema": {
              "type": "string"
            },
            "description": "User ID",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Remove admin",
        "x-sdk-interface": "customers.removeAdmin"
      }
    },
    "/admin/payments/{account_id}/REGroup/{REGroup}": {
      "post": {
        "x-action": "changeREGroup",
        "x-entityId": "params.account_id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "payments"
        ],
        "operationId": "payments-change-reg-group",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "required": true
          },
          {
            "in": "path",
            "name": "REGroup",
            "schema": {
              "type": "string"
            },
            "description": "REGroup",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": []
                }
              }
            }
          }
        },
        "summary": "Change REG group",
        "x-sdk-interface": "payments.changeREGGroup"
      }
    },
    "/admin/payments/{account_id}/REGroup": {
      "delete": {
        "x-action": "deleteREGroup",
        "x-entityId": "params.account_id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "payments"
        ],
        "operationId": "payments-delete-reg-group",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "schema": {
              "type": "string"
            },
            "description": "Account name",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": []
                }
              }
            }
          }
        },
        "summary": "Delete REG group",
        "x-sdk-interface": "payments.deleteREGGroup"
      }
    },
    "/admin/approval/approve": {
      "post": {
        "x-action": "submitApproval",
        "x-entityId": "body._id",
        "x-overrides": ["addResponseBody"],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "approval"
        ],
        "operationId": "approval-submit-aproval",
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Submit approval",
        "x-sdk-interface": "approval.submitApproval"
      }
    },
    "/favorites": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "favorites"
        ],
        "operationId": "favorites-delete",
        "summary": "Delete favorite entities",
        "parameters": [],
        "requestBody": {
          "$ref": "#/components/requestBodies/create_favoriteOptions"
        },
        "x-sdk-interface": "favorites.delete"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "favorites"
        ],
        "operationId": "favorites-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_favoriteOptions"
        },
        "summary": "Create",
        "parameters": [],
        "x-sdk-interface": "favorites.create"
      }
    },
    "/favorites/{type}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "type": {
                        "enum": [
                          "repo",
                          "pipeline-branch",
                          "step-type"
                        ],
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      },
                      "entities": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Favorites objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "favorites"
        ],
        "operationId": "favorites-list",
        "summary": "List",
        "parameters": [
          {
            "description": "Entity type",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "repo",
                "pipeline-branch",
                "step-type"
              ],
              "type": "string"
            }
          }
        ],
        "x-sdk-interface": "favorites.list"
      }
    },
    "/favorites/type/{type}/entity/{entityId}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "type": {
                        "enum": [
                          "repo",
                          "pipeline-branch",
                          "step-type"
                        ],
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      },
                      "entities": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Favorites objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "favorites"
        ],
        "operationId": "favorites-getById",
        "summary": "getById",
        "parameters": [
          {
            "description": "Entity type",
            "in": "path",
            "name": "type",
            "required": true,
            "schema": {
              "enum": [
                "repo",
                "pipeline-branch",
                "step-type"
              ],
              "type": "string"
            }
          },
          {
            "description": "Entity id",
            "in": "path",
            "name": "entityId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-sdk-interface": "favorites.getById"
      }
    },
    "/annotations": {
      "delete": {
        "x-action": "deleteAnnotations",
        "x-entityId": {
          "pathId": "query.entityId",
          "handlerName": "getAnnotationKey",
          "pathName": "query"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "annotations"
        ],
        "operationId": "annotations-delete",
        "summary": "Delete annotations",
        "parameters": [
          {
            "description": "id of annotation",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entity id",
            "in": "query",
            "name": "entityId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entity type",
            "in": "query",
            "name": "entityType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "key of annotation",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-sdk-interface": "annotations.delete"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "entityId": {
                        "type": "string"
                      },
                      "entityType": {
                        "type": "string"
                      },
                      "key": {
                        "type": "string"
                      },
                      "value": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Annotations objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "annotations"
        ],
        "operationId": "annotations-list",
        "summary": "List",
        "parameters": [
          {
            "description": "id of annotation",
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entity id",
            "in": "query",
            "name": "entityId",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Entity type",
            "in": "query",
            "name": "entityType",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "key of annotation",
            "in": "query",
            "name": "key",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-sdk-interface": "annotations.list"
      },
      "post": {
        "x-action": "createAnnotations",
        "x-entityId": {
          "pathId": "body.entityId",
          "handlerName": "getAnnotationKey",
          "pathName": "body"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "entityId": {
                      "type": "string"
                    },
                    "entityType": {
                      "type": "string"
                    },
                    "key": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Annotation object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "annotations"
        ],
        "operationId": "annotations-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_annotationOptions"
        },
        "summary": "Create",
        "parameters": [],
        "x-sdk-interface": "annotations.create"
      }
    },
    "/annotations/metadata": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "set": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "unset": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Annotation object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "annotations"
        ],
        "operationId": "annotations-create-metadata",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_annotation_manyOptions"
        },
        "summary": "Create many",
        "parameters": [],
        "x-sdk-interface": "annotations.createMany"
      }
    },


    "/auth/key": {
      "post": {
        "x-action": "createApiKey",
        "x-entityId": {
          "pathName": "body.name"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-generate",
        "parameters": [
          {
            "in": "query",
            "name": "subjectType",
            "schema": {
              "type": "string"
            },
            "description": "Subject type"
          },
          {
            "in": "query",
            "name": "subjectReference",
            "schema": {
              "type": "string"
            },
            "description": "Subject reference"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Json"
        },
        "summary": "Generate",
        "x-sdk-interface": "tokens.generate"
      }
    },
    "/auth/key/{id}": {
      "delete": {
        "x-action": "deleteApiKey",
        "x-entityId": "params.id",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Id"
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "tokens.delete"
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-patch",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "description": "build id",
            "required": true
          }
        ],
        "summary": "Patch",
        "x-sdk-interface": "tokens.patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "/auth/keys": {
      "get": {
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-list",
        "parameters": [],
        "summary": "List",
        "x-sdk-interface": "tokens.list"
      }
    },


    "/workflow": {
      "get": {
        "operationId": "workflows-list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Limit"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Page"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Status"
          },
          {
            "name": "trigger",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Trigger"
          },
          {
            "name": "pipeline",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pipeline"
          },
          {
            "name": "revision",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "revision sha"
          },
          {
            "name": "branchName",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "branch name"
          },
          {
            "name": "pipelineTriggerId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Pipeline trigger id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "summary": "List",
        "x-sdk-interface": "workflows.list",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "handler": "workflow.getAllExistingWorkflowProcesses"
        }
      }
    },
    "/workflow/totalDelayTime": {
      "get": {
        "operationId": "workflows-get-total-delay-time",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "account id"
          },
          {
            "name": "lte",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "end date"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "x-hide": true,
        "summary": "Get total delay time",
        "x-sdk-interface": "workflows.getTotalDelayTime",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "handler": "workflow.getTotalDelayTime"
        }
      }
    },
    "/workflow/buildsCount": {
      "get": {
        "operationId": "workflows-get-builds-count",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "summary": "Get builds count",
        "x-hide": true,
        "x-sdk-interface": "workflows.getBuildsCount",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "handler": "workflow.getBuildsCount"
        }
      }
    },
    "/workflow/reservedEnvList": {
      "get": {
        "operationId": "workflows-get-reserved-env-list",
        "parameters": [
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "summary": "Get reserved env list",
        "x-hide": true,
        "x-sdk-interface": "workflows.getReservedEnvList",
        "x-endpoint": {
          "auth": {
            "acl": {
              "resource": "build"
            }
          },
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "workflow.getReservedEnvList"
        }
      }
    },
    "/workflow/{requestId}/status": {
      "get": {
        "operationId": "workflows-status",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "build request id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "summary": "Get status",
        "x-sdk-interface": "workflows.status",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build",
              "scope": "read:status",
              "description": "Read access to build status"
            }
          },
          "handler": "workflow.getWorkflowStatusByRequestId"
        }
      }
    },
    "/workflow/{requestId}/logs": {
      "get": {
        "operationId": "workflows-redirect-to-logs",
        "parameters": [
          {
            "name": "requestId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "request id",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "summary": "Redirect to logs",
        "x-sdk-interface": "workflows.redirectToLogs",
        "x-hide": true,
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "handler": "workflow.redirectToLogs"
        }
      }
    },
    "/workflow/{workflowId}/context-revision": {
      "get": {
        "operationId": "get-context-revision",
        "parameters": [
          {
            "$ref": "#/components/parameters/workflowId"
          },
          {
            "name": "final",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "final"
          },
          {
            "name": "restartable",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "restartable"
          },
          {
            "name": "step",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "step"
          },
          {
            "name": "event",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "event"
          },
          {
            "name": "revision",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "revision"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "x-hide": true,
        "summary": "Get context revision",
        "x-sdk-interface": "workflows.getWorkflowContextRevision",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "preMiddleware": [
            "workflow.authorizeWorkflow"
          ],
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "workflow.getWorkflowContextRevision"
        }
      }
    },
    "/workflow/{workflowId}/event": {
      "post": {
        "operationId": "workflows-workflow-event",
        "parameters": [
          {
            "$ref": "#/components/parameters/workflowId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "summary": "Send workflow event",
        "x-hide": true,
        "x-sdk-interface": "workflows.sendWorkflowEvent",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated",
              "auth.isAuthenticatedAsEngine"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "preMiddleware": [
            "workflow.authorizeWorkflow"
          ],
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "workflow.handleWorkflowEvent"
        }
      }
    },
    "/workflow/{processId}/process": {
      "get": {
        "operationId": "get-workflow-by-id",
        "parameters": [
          {
            "name": "processId",
            "in": "path",
            "description": "workflow process id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "x-hide": true,
        "summary": "Get",
        "x-sdk-interface": "workflows.getProcessById",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "preMiddleware": [],
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "workflow.getProcessById"
        }
      }
    },
    "/workflow/{workflowId}/pending-approval/approve": {
      "get": {
        "x-action": "approveBuild",
        "x-entityId": "params.workflowId",
        "x-allowed": {
          "body": [
            "buildStrategy"
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/workflowId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "operationId": "workflows-approve",
        "summary": "Approve",
        "x-sdk-interface": "workflows.approve",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "audit.allow",
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "pipeline",
              "abac": true,
              "abacSource": "workflow",
              "action": "approve",
              "description": "Approve or deny a build that is pending-approval"
            }
          },
          "preMiddleware": [
            "workflow.approvePendingApprovalWorkflow",
            "workflow.authorizeWorkflow"
          ],
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "pipelines.runPipeline"
        }
      }
    },
    "/workflow/{workflowId}/pending-approval/deny": {
      "get": {
        "x-action": "denyBuild",
        "x-entityId": "params.workflowId",
        "x-allowed": {
          "body": [
            "buildStrategy"
          ]
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/workflowId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "operationId": "workflows-deny",
        "summary": "Deny",
        "x-sdk-interface": "workflows.deny",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "audit.allow",
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "pipeline",
              "abac": true,
              "abacSource": "workflow",
              "action": "approve"
            }
          },
          "preMiddleware": [
            "workflow.denyPendingApprovalWorkflow",
            "workflow.authorizeWorkflow"
          ],
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "pipelines.runPipeline"
        }
      }
    },
    "/builds/{buildId}": {
      "get": {
        "parameters": [
          {
            "name": "buildId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "buildId",
            "required": true
          },
          {
            "name": "noAccount",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "noAccount",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Json"
          }
        },
        "tags": [
          "builds"
        ],
        "operationId": "workflows-get-build",
        "summary": "Get",
        "x-sdk-interface": "workflows.getBuild",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticatedOrAnonymous"
            ],
            "acl": {
              "resource": "build"
            }
          },
          "postMiddleware": [
            "global.iseMiddleware"
          ],
          "handler": "build.getBuildById"
        }
      }
    },
    "/builds/{name}/": {
      "post": {
        "x-action": "runPipeline",
        "x-entityId": {
          "pathName": "params.name"
        },
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "description": "name",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "builds"
        ],
        "operationId": "workflows-run-pipeline",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "x-allowed": {
                  "body": [
                    "branch",
                    "serviceName"
                  ]
                },
                "properties": {
                  "branch": {
                    "type": "string"
                  },
                  "buildFlags": {
                    "properties": {
                      "nocache": {
                        "default": false,
                        "description": "use docker cache",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "sha": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "x-hide": true,
        "summary": "Build by service",
        "x-sdk-interface": "workflows.runPipeline",
        "x-endpoint": {
          "isEndpoint": false,
          "auth": {
            "middleware": [
              "auth.isAuthenticated"
            ],
            "acl": {
              "resource": "pipeline",
              "action": "run",
              "abac": true
            }
          },
          "preMiddleware": [
[...]
