{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Codefresh",
      "url": "https://www.codefresh.io"
    },
    "description": "Codefresh API openAPI 3.0 specification",
    "termsOfService": "https://codefresh.io/docs/docs/terms-and-privacy-policy/terms-of-service/",
    "title": "Codefresh API",
    "version": "0.0.1",
    "x-logo": {
      "url": "https://photos.prnewswire.com/prnfull/20160929/413350LOGO?max=200",
      "backgroundColor": "#FFFFFF",
      "altText": "Codefresh"
    }
  },
  "servers": [
    {
      "url": "https://g.codefresh.io/api"
    }
  ],
  "paths": {
    "/abac": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-get-all-rules",
        "summary": "Get all rules",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.getAllRules()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "rbac.getAllRules"
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-create-rule",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "action": {
                    "type": "string"
                  },
                  "resource": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rule",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.createRule(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "rbac.createRule"
      }
    },
    "/abac/batch": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-create-or-delete-rules",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "create": {
                    "items": {
                      "$ref": "#/components/requestBodies/abac"
                    },
                    "type": "array"
                  },
                  "delete": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create or delete rules",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.createOrDeleteRules(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "rbac.createOrDeleteRules"
      }
    },
    "/abac/resource/{resource}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the resource",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-get-rules-by-resource",
        "summary": "Get rules by resource",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.getRulesByResource({ resource })"
          }
        ],
        "x-sdk-interface": "rbac.getRulesByResource"
      }
    },
    "/abac/tags/rule/{rule}": {
      "post": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-update-rule-tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update rule tags",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.updateRuleTags({ rule }, body)"
          }
        ],
        "x-sdk-interface": "rbac.updateRuleTags"
      }
    },
    "/abac/tags/rules": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-create-rules-tags",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "rules": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rules tags",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.createRulesTags(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "rbac.createRulesTags"
      }
    },
    "/abac/team/{team}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the team",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-get-rules-by-team-id",
        "summary": "Get rules by team id",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.getRulesByTeamId({ team })"
          }
        ],
        "x-sdk-interface": "rbac.getRulesByTeamId"
      }
    },
    "/abac/teamRules": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-create-rules-in-batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/abac"
              }
            }
          },
          "required": true
        },
        "summary": "Create rules in batch",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.createRulesInBatch(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "rbac.createRulesInBatch"
      }
    },
    "/abac/{rule}": {
      "delete": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-delete-rule",
        "summary": "Delete rule",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.deleteRule({ rule })"
          }
        ],
        "x-sdk-interface": "rbac.deleteRule"
      },
      "get": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "rbac"
        ],
        "operationId": "rbac-get-rule",
        "summary": "Get rule",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.rbac.getRule({ rule })"
          }
        ],
        "x-sdk-interface": "rbac.getRule"
      }
    },
    "/accounts/{accountId}/{userId}": {
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-user-from-account",
        "summary": "Delete user from account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.deleteUserFromAccount({ accountId, userId })"
          }
        ],
        "x-sdk-interface": "accounts.deleteUserFromAccount"
      }
    },
    "/accounts/{accountId}/{userId}/adduser": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-add-existing-user-to-account",
        "summary": "Add existing user to account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.addExistingUserToAccount({ accountId, userId })"
          }
        ],
        "x-sdk-interface": "accounts.addExistingUserToAccount"
      }
    },
    "/accounts/{accountId}/{userId}/admin": {
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-delete-admin",
        "summary": "Delete admin",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.deleteAdmin({ accountId, userId })"
          }
        ],
        "x-sdk-interface": "accounts.deleteAdmin"
      },
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-aet-as-admin",
        "summary": "Aet as admin",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.aetAsAdmin({ accountId, userId })"
          }
        ],
        "x-sdk-interface": "accounts.aetAsAdmin"
      }
    },
    "/accounts/{id}/adduser": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Adds a not existing user to an account. the provider field is optional and if not provided it will be taken from the account model",
        "operationId": "accounts-add-user-to-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userDetails": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Add user to account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.addUserToAccount({ id }, body)"
          }
        ],
        "x-sdk-interface": "accounts.addUserToAccount"
      }
    },
    "/accounts/{id}/update": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet: update the user defined account fields. Receives a settings object (will be defined later)",
        "operationId": "accounts-update-account-public-settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "notifications": {
                    "items": {
                      "properties": {
                        "events": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "slack": {
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "webhook",
                            "slack"
                          ],
                          "type": "string"
                        },
                        "webhook": {
                          "properties": {
                            "method": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update account public settings",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.updateAccountPublicSettings({ id }, body)"
          }
        ],
        "x-sdk-interface": "accounts.updateAccountPublicSettings"
      }
    },
    "/accounts/{id}/updateuser": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-update-user-details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update user details",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.updateUserDetails({ id }, body)"
          }
        ],
        "x-sdk-interface": "accounts.updateUserDetails"
      }
    },
    "/accounts/{id}/users": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get all users of an account",
        "operationId": "accounts-get-users-for-account",
        "summary": "Get users for account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.getUsersForAccount({ id })"
          }
        ],
        "x-sdk-interface": "accounts.getUsersForAccount"
      }
    },
    "/admin/accounts": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "get all the accounts in the system",
        "operationId": "accounts-get-all-accounts",
        "summary": "Get all accounts",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.getAllAccounts()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "accounts.getAllAccounts"
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Add new account. Receives an account object ",
        "operationId": "accounts-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.addAccount(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "accounts.addAccount"
      }
    },
    "/admin/accounts/addpendinguser": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "operationId": "accounts-add-pending-user-without-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "provider": {
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "userName": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "provider"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add pending user without account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.addPendingUserWithoutAccount(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "accounts.addPendingUserWithoutAccount"
      }
    },
    "/admin/accounts/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-account",
        "summary": "Delete account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.deleteAccount({ id })"
          }
        ],
        "x-sdk-interface": "accounts.deleteAccount"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Get an account by id",
        "operationId": "accounts-get-by-id",
        "summary": "Get by id",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.getById({ id })"
          }
        ],
        "x-sdk-interface": "accounts.getById"
      }
    },
    "/admin/accounts/{id}/update": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "accounts"
        ],
        "description": "Not implemented yet: Update the account info that only codefresh admins (codefresh employees, not account admin) can access",
        "operationId": "accounts-update-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.accounts.updateAccount({ id }, body)"
          }
        ],
        "x-sdk-interface": "accounts.updateAccount"
      }
    },
    "/admin/runtime-environments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-get-all",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.getAll({ limit, offset, accountIds })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.getAll"
      }
    },
    "/admin/runtime-environments/account/default/{account}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-set-default-for-account",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Set default for account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.setDefaultForAccount({ account, name })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.setDefaultForAccount"
      }
    },
    "/admin/runtime-environments/account/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-get-by-account",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get by account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.getByAccount({ account, limit, offset, accountIds })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.getByAccount"
      }
    },
    "/admin/runtime-environments/default/{plan}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-set-default",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Set default",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.setDefault({ plan, name })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.setDefault"
      }
    },
    "/admin/runtime-environments/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-update-sys-re",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update sys re",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.updateSysRe({ name, extend, description }, body)"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.updateSysRe"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-delete-sys-re",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Delete sys re",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.deleteSysRe({ name, force })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.deleteSysRe"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-get-sys-re",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get sys re",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.getSysRe({ name, version, extend, history, successors })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.getSysRe"
      }
    },
    "/admin/runtime-environments/{plan}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-update",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.update({ plan, name, extend, description }, body)"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.update"
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-delete",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Delete",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.delete({ plan, name, force })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.delete"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "sysRuntimeEnvs"
        ],
        "operationId": "sys-runtime-envs-get",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.sysRuntimeEnvs.get({ plan, name, version, extend, history, successors })"
          }
        ],
        "x-sdk-interface": "sysRuntimeEnvs.get"
      }
    },
    "/auth/key": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-generate",
        "parameters": [
          {
            "in": "query",
            "name": "subjectType",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "subjectReference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Generate",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.tokens.generate({ subjectType, subjectReference }, body)"
          }
        ],
        "x-sdk-interface": "tokens.generate"
      }
    },
    "/auth/key/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.tokens.delete({ id })"
          }
        ],
        "x-sdk-interface": "tokens.delete"
      }
    },
    "/auth/keys": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "tokens"
        ],
        "operationId": "tokens-get-all",
        "parameters": [],
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.tokens.getAll()"
          }
        ],
        "x-sdk-interface": "tokens.getAll"
      }
    },
    "/builds": {
      "get": {
        "parameters": [
          {
            "description": "account name",
            "in": "query",
            "name": "account",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "repo owner",
            "in": "query",
            "name": "repoOwner",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "repo name",
            "in": "query",
            "name": "repoName",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "builds"
        ],
        "operationId": "builds-get-all",
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.builds.getAll({ account, repoOwner, repoName })"
          }
        ],
        "x-sdk-interface": "builds.getAll"
      }
    },
    "/builds/rebuild/{id}": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "builds"
        ],
        "operationId": "builds-rebuild",
        "summary": "Rebuild",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.builds.rebuild({ id })"
          }
        ],
        "x-sdk-interface": "builds.rebuild"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "workflows-restart",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "summary": "Restart",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.workflows.restart({ id })"
          }
        ],
        "x-sdk-interface": "workflows.restart"
      }
    },
    "/builds/{id}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "workflows-get",
        "summary": "Get",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.workflows.get({ id })"
          }
        ],
        "x-sdk-interface": "workflows.get"
      }
    },
    "/builds/{buildId}/update": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/buildId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "workflows-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pullRequest": {
                    "properties": {
                      "createOnSuccess": {
                        "type": "boolean"
                      },
                      "mergeOnSuccess": {
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.workflows.update({ buildId }, body)"
          }
        ],
        "x-sdk-interface": "workflows.update"
      }
    },
    "/builds/{serviceId}/": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/serviceId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "workflows"
        ],
        "operationId": "workflows-build-by-service",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "branch": {
                    "type": "string"
                  },
                  "buildFlags": {
                    "properties": {
                      "nocache": {
                        "default": false,
                        "description": "use docker cache",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "sha": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Build by service",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.workflows.buildByService({ serviceId }, body)"
          }
        ],
        "x-sdk-interface": "workflows.buildByService"
      }
    },
    "/clusters": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "clusters"
        ],
        "operationId": "clusters-get-all",
        "parameters": [],
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.clusters.getAll()"
          }
        ],
        "x-sdk-interface": "clusters.getAll"
      }
    },
    "/clusters/{provider}/cluster/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "clusters"
        ],
        "operationId": "clusters-delete",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.clusters.delete({ provider, id })"
          }
        ],
        "x-sdk-interface": "clusters.delete"
      }
    },
    "/compositions": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-get-all",
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.getAll()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "compositions.getAll"
      },
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "isAdvanced": {
                    "default": false,
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "yamlJson": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.create(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "compositions.create"
      }
    },
    "/compositions/{id}/run": {
      "post": {
        "parameters": [
          {
            "description": "id or name of a composition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-launch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Launch",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.launch({ id }, body)"
          }
        ],
        "x-sdk-interface": "compositions.launch"
      }
    },
    "/compositions/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-delete",
        "summary": "Delete",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.delete({ id })"
          }
        ],
        "x-sdk-interface": "compositions.delete"
      },
      "get": {
        "parameters": [
          {
            "description": "id or name of a composition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-get",
        "summary": "Get",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.get({ id })"
          }
        ],
        "x-sdk-interface": "compositions.get"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "isAdvanced": {
                    "default": false,
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "yamlJson": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Update the name/variables/body of the composition with the id inserted",
          "required": true
        },
        "summary": "Update",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.update({ id }, body)"
          }
        ],
        "x-sdk-interface": "compositions.update"
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-patch",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Patch",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.patch({ id }, body)"
          }
        ],
        "x-sdk-interface": "compositions.patch"
      }
    },
    "/compositions/{id}/duplicate": {
      "post": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "compositions"
        ],
        "operationId": "compositions-duplicate",
        "summary": "Duplicate",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.compositions.duplicate({ id })"
          }
        ],
        "x-sdk-interface": "compositions.duplicate"
      }
    },
    "/contexts": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "contexts-get-all",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "decrypt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.contexts.getAll({ type, decrypt })"
          }
        ],
        "x-sdk-interface": "contexts.getAll"
      }
    },
    "/contexts/": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "contexts-create",
        "parameters": [
          {
            "in": "query",
            "name": "skipValidation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Create",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.contexts.create({ skipValidation }, body)"
          }
        ],
        "x-sdk-interface": "contexts.create"
      }
    },
    "/contexts/{name}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "contexts-delete",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.contexts.delete({ name })"
          }
        ],
        "x-sdk-interface": "contexts.delete"
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "contexts-replace",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Replace",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.contexts.replace({ name }, body)"
          }
        ],
        "x-sdk-interface": "contexts.replace"
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "contexts-patch",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Patch",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.contexts.patch({ name }, body)"
          }
        ],
        "x-sdk-interface": "contexts.patch"
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "contexts"
        ],
        "operationId": "contexts-get",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "decrypt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.contexts.get({ name, decrypt })"
          }
        ],
        "x-sdk-interface": "contexts.get"
      }
    },
    "/environments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-get-all",
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.getAll()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "envs.getAll"
      }
    },
    "/environments/all/terminate": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-terminate-all",
        "summary": "Terminate all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.terminateAll()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "envs.terminateAll"
      }
    },
    "/environments/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-get",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.get({ id })"
          }
        ],
        "x-sdk-interface": "envs.get"
      }
    },
    "/environments/{id}/pause": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-pause",
        "summary": "Pause",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.pause({ id })"
          }
        ],
        "x-sdk-interface": "envs.pause"
      }
    },
    "/environments/{id}/rename/{newName}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the environment to rename",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The new name to assign to the environment",
            "in": "path",
            "name": "newName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-rename",
        "summary": "Rename",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.rename({ id, newName })"
          }
        ],
        "x-sdk-interface": "envs.rename"
      }
    },
    "/environments/{id}/start": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-start",
        "summary": "Start",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.start({ id })"
          }
        ],
        "x-sdk-interface": "envs.start"
      }
    },
    "/environments/{id}/status": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-status",
        "summary": "Status",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.status({ id })"
          }
        ],
        "x-sdk-interface": "envs.status"
      }
    },
    "/environments/{id}/stop": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-stop",
        "summary": "Stop",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.stop({ id })"
          }
        ],
        "x-sdk-interface": "envs.stop"
      }
    },
    "/environments/{id}/terminate": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-terminate",
        "summary": "Terminate",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.terminate({ id })"
          }
        ],
        "x-sdk-interface": "envs.terminate"
      }
    },
    "/environments/{id}/unpause": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "envs"
        ],
        "operationId": "envs-unpause",
        "summary": "Unpause",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.envs.unpause({ id })"
          }
        ],
        "x-sdk-interface": "envs.unpause"
      }
    },
    "/features/{accountId}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the account to query for feature availability",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "features"
        ],
        "operationId": "features-account",
        "summary": "Account",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.features.account({ accountId })"
          }
        ],
        "x-sdk-interface": "features.account"
      }
    },
    "/helm/boards": {
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.boards"
        ],
        "operationId": "helm-boards-delete-all",
        "summary": "Delete all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.boards.deleteAll()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "helm.boards.deleteAll"
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "filter": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Board objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.boards"
        ],
        "operationId": "helm-boards-get-all",
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.boards.getAll()"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "helm.boards.getAll"
      },
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.boards"
        ],
        "operationId": "helm-boards-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_boardOptions"
        },
        "summary": "Create",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.boards.create(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "helm.boards.create"
      }
    },
    "/helm/boards/name/{name}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardName"
          },
          {
            "description": "include sections in response",
            "in": "query",
            "name": "columns",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.boards"
        ],
        "operationId": "helm-boards-get-by-name",
        "summary": "Get by name",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.boards.getByName({ name, columns })"
          }
        ],
        "x-sdk-interface": "helm.boards.getByName"
      }
    },
    "/helm/boards/sections": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "boardId": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "index": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "type": {
                      "example": "Helm",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Section object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-create",
        "requestBody": {
          "$ref": "#/components/requestBodies/create_sectionOptions"
        },
        "summary": "Create",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.create(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "helm.sections.create"
      }
    },
    "/helm/boards/sections/reorder": {
      "post": {
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-reorder",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "[sectionId]": {
                    "example": "<section index>",
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Reorder",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.reorder(body)"
          }
        ],
        "parameters": [],
        "x-sdk-interface": "helm.sections.reorder"
      }
    },
    "/helm/boards/sections/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "boardId": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "index": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "type": {
                      "example": "Helm",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-delete",
        "summary": "Delete",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.delete({ id })"
          }
        ],
        "x-sdk-interface": "helm.sections.delete"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-get",
        "summary": "Get",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.get({ id })"
          }
        ],
        "x-sdk-interface": "helm.sections.get"
      },
      "patch": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "boardId": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "index": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "section": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Patch",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.patch({ id }, body)"
          }
        ],
        "x-sdk-interface": "helm.sections.patch"
      },
      "put": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "boardId": {
                    "type": "string"
                  },
                  "color": {
                    "type": "string"
                  },
                  "index": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "section": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.update({ id }, body)"
          }
        ],
        "x-sdk-interface": "helm.sections.update"
      }
    },
    "/helm/boards/{boardId}/sections": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardIdpath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-delete-all",
        "summary": "Delete all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.deleteAll({ boardId })"
          }
        ],
        "x-sdk-interface": "helm.sections.deleteAll"
      },
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardIdpath"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "boardId": {
                      "type": "string"
                    },
                    "color": {
                      "type": "string"
                    },
                    "index": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "section": {
                      "type": "string"
                    },
                    "type": {
                      "example": "Helm",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Section object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-get-all",
        "summary": "Get all",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.getAll({ boardId })"
          }
        ],
        "x-sdk-interface": "helm.sections.getAll"
      }
    },
    "/helm/boards/{boardId}/sections/name/{name}": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/boardIdpath"
          },
          {
            "$ref": "#/components/parameters/sectionName"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "security": [
          {
            "internalApiKey": []
          }
        ],
        "tags": [
          "helm.sections"
        ],
        "operationId": "helm-sections-get-by-name",
        "summary": "Get by name",
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "sdk.helm.sections.getByName({ boardId, name })"
          }
        ],
        "x-sdk-interface": "helm.sections.getByName"
      }
    },
    "/helm/boards/{id}": {
      "delete": {
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "404": {
            "description": "Not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
[...]
