{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Codefresh",
      "url": "https://www.codefresh.io"
    },
    "description": "Codefresh API openAPI 3.0 specification",
    "termsOfService": "https://codefresh.io/docs/docs/terms-and-privacy-policy/terms-of-service/",
    "title": "Codefresh API",
    "version": "0.0.2",
    "x-logo": {
      "url": "https://i.ibb.co/X7kg7jb/image.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Codefresh"
    }
  },
  "x-service-name": "api-public",
  "x-base-path": "/api",
  "x-internal-services": ["pipeline-manager", "api"],
  "x-endpoint-conditions": [{
    "weight": 0,
    "condition": "global.has-general-service-role",
    "handlerRegex": "(.*)"
  }],
  "servers": [{
    "url": "https://g.codefresh.io/api"
  }],
  "security": [{
    "apiKey": []
  }],
  "x-tagGroups": [{
    "name": "Pipelines / Builds",
    "tags": ["Annotations", "Builds", "Images", "Pipelines", "Progress", "Step-types", "Triggers", "Triggers Events", "Triggers Types"]
  }, {
    "name": "Kubernetes / Helm",
    "tags": ["Helm Boards", "Helm Charts", "Helm Releases", "Helm Sections", "Kubernetes"]
  }, {
    "name": "Swarm",
    "tags": ["Compositions", "Environments"]
  }, {
    "name": "Integrations / Contexts",
    "tags": ["Clusters", "Contexts", "Helm Repos", "Registries", "Repos"]
  }, {
    "name": "Account Management",
    "tags": ["Abac", "Accounts", "Runtime Environments", "Teams", "Tokens", "Views"]
  }, {
    "name": "User Properties",
    "tags": ["favorites"]
  }, {
    "name": "On-Premise",
    "tags": ["Features", "Runtime Environments (Account)", "Runtime Environments (Plan)", "Runtime Environments (System)", "Runtime Environments."]
  }],
  "tags": [{
    "name": "Abac",
    "description": "abac",
    "x-id": "abac"
  }, {
    "name": "Accounts",
    "description": "accounts",
    "x-id": "accounts"
  }, {
    "name": "Annotations",
    "description": "annotations",
    "x-id": "annotations"
  }, {
    "name": "Approval",
    "description": "Approval",
    "x-id": "approval"
  }, {
    "name": "Builds",
    "description": "builds",
    "x-id": "builds"
  }, {
    "name": "Clusters",
    "description": "clusters",
    "x-id": "clusters"
  }, {
    "name": "Compositions",
    "description": "compositions",
    "x-id": "compositions"
  }, {
    "name": "Contexts",
    "description": "contexts",
    "x-id": "contexts"
  }, {
    "name": "Environments",
    "description": "environments",
    "x-id": "environments"
  }, {
    "name": "Features",
    "description": "features",
    "x-id": "features"
  }, {
    "name": "Helm Boards",
    "description": "helm.boards",
    "x-id": "helm.boards"
  }, {
    "name": "Helm Charts",
    "description": "helm.charts",
    "x-id": "helm.charts"
  }, {
    "name": "Helm Releases",
    "description": "helm.releases",
    "x-id": "helm.releases"
  }, {
    "name": "Helm Repos",
    "description": "helm.repos",
    "x-id": "helm.repos"
  }, {
    "name": "Helm Sections",
    "description": "helm.sections",
    "x-id": "helm.sections"
  }, {
    "name": "Images",
    "description": "images",
    "x-id": "images"
  }, {
    "name": "Kubernetes",
    "description": "kubernetes",
    "x-id": "kubernetes"
  }, {
    "name": "Pipelines",
    "description": "pipelines",
    "x-id": "pipelines"
  }, {
    "name": "Progress",
    "description": "progress",
    "x-id": "progress"
  }, {
    "name": "Providers",
    "description": "providers",
    "x-id": "providers"
  }, {
    "name": "Registries",
    "description": "registries",
    "x-id": "registries"
  }, {
    "name": "Repos",
    "description": "repos",
    "x-id": "repos"
  }, {
    "name": "Runtime Environments",
    "description": "runtimeEnvs",
    "x-id": "runtimeEnvs"
  }, {
    "name": "Runtime Environments (Account)",
    "description": "onPrem.runtimeEnvs.account",
    "x-id": "onPrem.runtimeEnvs.account"
  }, {
    "name": "Runtime Environments (Plan)",
    "description": "onPrem.runtimeEnvs.plan",
    "x-id": "onPrem.runtimeEnvs.plan"
  }, {
    "name": "Runtime Environments (System)",
    "description": "onPrem.runtimeEnvs.system",
    "x-id": "onPrem.runtimeEnvs.system"
  }, {
    "name": "Runtime Environments.",
    "description": "onPrem.runtimeEnvs",
    "x-id": "onPrem.runtimeEnvs"
  }, {
    "name": "Step-types",
    "description": "step-types",
    "x-id": "step-types"
  }, {
    "name": "Teams",
    "description": "teams",
    "x-id": "teams"
  }, {
    "name": "Tokens",
    "description": "tokens",
    "x-id": "tokens"
  }, {
    "name": "Triggers",
    "description": "triggers",
    "x-id": "triggers"
  }, {
    "name": "Triggers Events",
    "description": "triggers.events",
    "x-id": "triggers.events"
  }, {
    "name": "Triggers Types",
    "description": "triggers.types",
    "x-id": "triggers.types"
  }, {
    "name": "Views",
    "description": "views",
    "x-id": "views"
  }],
  "paths": {
    "/abac": {
      "post": {
        "x-action": "createGrantRule",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "action": {
                    "type": "string"
                  },
                  "resource": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rule",
        "parameters": [],
        "x-sdk-interface": "abac.rules.create",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"tags\\\":[\\\"${TAGS_ARR_STR}\\\"],\\\"action\\\":\\\"${ACTION_STR}\\\",\\\"resource\\\":\\\"${RESOURCE_STR}\\\",\\\"team\\\":\\\"${TEAM_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/abac\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.create({\n    tags: [\n        `${TAGS_ARR_STR}`\n    ],\n    action: `${ACTION_STR}`,\n    resource: `${RESOURCE_STR}`,\n    team: `${TEAM_STR}`\n})"
        }]
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-list",
        "summary": "List rules",
        "parameters": [],
        "x-sdk-interface": "abac.rules.list",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.list()"
        }]
      }
    },
    "/abac/batch": {
      "post": {
        "x-action": "updateRules",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-create-or-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "create": {
                    "items": {
                      "properties": {
                        "teams": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "resource": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "type": "array"
                  },
                  "delete": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create or delete rules",
        "parameters": [],
        "x-sdk-interface": "abac.rules.createOrDelete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"create\\\":[${CREATE_ARR_OBJ}],\\\"delete\\\":[\\\"${DELETE_ARR_STR}\\\"]}\" \\\n    \"https://g.codefresh.io/api/abac/batch\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.createOrDelete({\n    create: [\n        { ...CREATE_ARR_OBJ }\n    ],\n    delete: [\n        `${DELETE_ARR_STR}`\n    ]\n})"
        }]
      }
    },
    "/abac/resource/{resource}": {
      "get": {
        "parameters": [{
          "description": "The id of the resource",
          "in": "path",
          "name": "resource",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-list-by-resource",
        "summary": "Get rules by resource",
        "x-sdk-interface": "abac.rules.listByResource",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/resource/${RESOURCE}\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.listByResource({ resource })"
        }]
      }
    },
    "/abac/tags/rule/{rule}": {
      "post": {
        "x-action": "updateRule",
        "x-entityId": {
          "pathId": "params.rule",
          "pathName": "body.tags[0]"
        },
        "parameters": [{
          "description": "The id of the rule",
          "in": "path",
          "name": "rule",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-tags-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update rule tags",
        "x-sdk-interface": "abac.rules.tags.update",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"tags\\\":[\\\"${TAGS_ARR_STR}\\\"]}\" \\\n    \"https://g.codefresh.io/api/abac/tags/rule/${RULE}\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.tags.update({ rule }, {\n    tags: [\n        `${TAGS_ARR_STR}`\n    ]\n})"
        }]
      }
    },
    "/abac/tags/rules": {
      "post": {
        "x-action": "updateTagsForRules",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-tags-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "rules": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rules tags",
        "parameters": [],
        "x-sdk-interface": "abac.rules.tags.create",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"tags\\\":[\\\"${TAGS_ARR_STR}\\\"],\\\"rules\\\":[\\\"${RULES_ARR_STR}\\\"]}\" \\\n    \"https://g.codefresh.io/api/abac/tags/rules\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.tags.create({\n    tags: [\n        `${TAGS_ARR_STR}`\n    ],\n    rules: [\n        `${RULES_ARR_STR}`\n    ]\n})"
        }]
      }
    },
    "/abac/team/{teamId}": {
      "get": {
        "parameters": [{
          "description": "The id of the team",
          "in": "path",
          "name": "teamId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-list-by-team",
        "summary": "Get rules by team id",
        "x-sdk-interface": "abac.rules.listByTeam",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/team/${TEAM_ID}\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.listByTeam({ teamId })"
        }]
      }
    },
    "/abac/teamRules": {
      "post": {
        "x-action": "createRulesForTeam",
        "x-entityId": {
          "pathName": "body.teams[0]"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-create-in-batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "teams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resource": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "summary": "Create rules in batch",
        "parameters": [],
        "x-sdk-interface": "abac.rules.createInBatch",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/abac/teamRules\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.createInBatch({ ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/abac/{rule}": {
      "get": {
        "parameters": [{
          "description": "The id of the rule",
          "in": "path",
          "name": "rule",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-get",
        "summary": "Get rule",
        "x-sdk-interface": "abac.rules.get",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/${RULE}\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.get({ rule })"
        }]
      },
      "delete": {
        "x-action": "deleteRuleForTeam",
        "x-entityId": {
          "pathName": "params.rule"
        },
        "parameters": [{
          "description": "The id of the rule",
          "in": "path",
          "name": "rule",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Abac"],
        "operationId": "abac-rules-delete",
        "summary": "Delete rule",
        "x-sdk-interface": "abac.rules.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/${RULE}\""
        }, {
          "lang": "node.js",
          "source": "sdk.abac.rules.delete({ rule })"
        }]
      }
    },
    "/accounts/{accountId}/{userId}": {
      "delete": {
        "x-action": "removeUserFromAccount",
        "x-entityId": "params.accountId",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "description": "id of an object",
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-user-from-account",
        "summary": "Delete user from account",
        "x-sdk-interface": "accounts.deleteUserFromAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.deleteUserFromAccount({ accountId, userId })"
        }]
      }
    },
    "/accounts/{accountId}/{userId}/resendInvite": {
      "post": {
        "x-action": "resendInviteToUser",
        "x-entityId": "params.accountId",
        "operationId": "accounts-resend-invite",
        "tags": ["Accounts"],
        "summary": "Resend invite",
        "x-sdk-interface": "accounts.resendInvite",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "description": "id of an object",
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/resendInvite\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.resendInvite({ accountId, userId })"
        }]
      }
    },
    "/accounts/{accountId}/{userId}/adduser": {
      "post": {
        "x-action": "addExistingUserToAccount",
        "x-entityId": "params.accountId",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "description": "id of an object",
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "operationId": "accounts-add-existing-user-to-account",
        "summary": "Add existing user to account",
        "x-sdk-interface": "accounts.addExistingUserToAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/adduser\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.addExistingUserToAccount({ accountId, userId })"
        }]
      }
    },
    "/accounts/{accountId}/{userId}/admin": {
      "post": {
        "x-entityId": "params.accountId",
        "x-action": "makeUserAdmin",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "description": "id of an object",
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "operationId": "accounts-set-as-admin",
        "summary": "Set as admin",
        "x-sdk-interface": "accounts.setAsAdmin",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/admin\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.setAsAdmin({ accountId, userId })"
        }]
      },
      "delete": {
        "x-entityId": "params.accountId",
        "x-action": "removeUserFromAdmins",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "description": "id of an object",
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "operationId": "accounts-delete-admin",
        "summary": "Delete admin",
        "x-sdk-interface": "accounts.deleteAdmin",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/admin\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.deleteAdmin({ accountId, userId })"
        }]
      }
    },
    "/accounts/{accountId}/adduser": {
      "post": {
        "x-action": "addUserToAccount",
        "x-entityId": "body.accountId",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Adds a not existing user to an account. the provider field is optional and if not provided it will be taken from the account model",
        "operationId": "accounts-add-user-to-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userDetails": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Add user to account",
        "x-sdk-interface": "accounts.addUserToAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"userDetails\\\":\\\"${USER_DETAILS_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/adduser\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.addUserToAccount({ accountId }, {\n    userDetails: `${USER_DETAILS_STR}`\n})"
        }]
      }
    },
    "/accounts/{accountId}/update": {
      "post": {
        "x-action": "updateAccount",
        "x-entityId": {
          "pathId": "params.accountId",
          "pathName": "body.name"
        },
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Not implemented yet: update the user defined account fields. Receives a settings object (will be defined later)",
        "operationId": "accounts-update-account-public-settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "integrations": {
                    "type": "object",
                    "x-secure": true
                  },
                  "notifications": {
                    "items": {
                      "properties": {
                        "events": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "slack": {
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": {
                          "enum": ["webhook", "slack"],
                          "type": "string"
                        },
                        "webhook": {
                          "properties": {
                            "method": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update account public settings",
        "x-sdk-interface": "accounts.updateAccountPublicSettings",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"integrations\\\":${INTEGRATIONS_OBJ},\\\"notifications\\\":[{\\\"events\\\":[\\\"${EVENTS_ARR_STR}\\\"],\\\"slack\\\":{\\\"uri\\\":\\\"${URI_STR}\\\"},\\\"type\\\":\\\"${TYPE_STR}\\\",\\\"webhook\\\":{\\\"method\\\":\\\"${METHOD_STR}\\\",\\\"uri\\\":\\\"${URI_STR}\\\"}}]}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/update\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.updateAccountPublicSettings({ accountId }, {\n    integrations: { ...INTEGRATIONS_OBJ },\n    notifications: [\n        {\n            events: [\n                `${EVENTS_ARR_STR}`\n            ],\n            slack: {\n                uri: `${URI_STR}`\n            },\n            type: `${TYPE_STR}`,\n            webhook: {\n                method: `${METHOD_STR}`,\n                uri: `${URI_STR}`\n            }\n        }\n    ]\n})"
        }]
      }
    },
    "/accounts/{accountId}/{userId}/updateuser": {
      "post": {
        "x-action": "updateUserByAdmin",
        "x-entityId": "params.accountId",
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "description": "id of an object",
          "in": "path",
          "name": "userId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Not implemented yet",
        "operationId": "accounts-update-user-details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "logins": {
                    "type": "object",
                    "x-secure": true
                  },
                  "key": {
                    "type": "object",
                    "x-secure": true
                  },
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update user details",
        "x-sdk-interface": "accounts.updateUserDetails",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"logins\\\":${LOGINS_OBJ},\\\"key\\\":${KEY_OBJ},\\\"settings\\\":${SETTINGS_OBJ}}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/updateuser\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.updateUserDetails({ accountId, userId }, {\n    logins: { ...LOGINS_OBJ },\n    key: { ...KEY_OBJ },\n    settings: { ...SETTINGS_OBJ }\n})"
        }]
      }
    },
    "/accounts/{accountId}/users": {
      "get": {
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "List users of an account",
        "operationId": "accounts-get-users-for-account",
        "summary": "Get users for account",
        "x-sdk-interface": "accounts.getUsersForAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/users\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.getUsersForAccount({ accountId })"
        }]
      }
    },
    "/admin/accounts": {
      "post": {
        "x-action": "createAccount",
        "x-audit": {
          "name": {
            "path": "name",
            "source": "res"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "x-entityId": {
          "pathName": "body.name"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Add new account. Receives an account object ",
        "operationId": "accounts-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                },
                "required": ["name"],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add account",
        "parameters": [],
        "x-sdk-interface": "accounts.addAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"name\\\":\\\"${NAME_STR}\\\",\\\"provider\\\":\\\"${PROVIDER_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/admin/accounts\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.addAccount({\n    name: `${NAME_STR}`,\n    provider: `${PROVIDER_STR}`\n})"
        }]
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "get all the accounts in the system",
        "operationId": "accounts-list-accounts",
        "summary": "List accounts",
        "parameters": [],
        "x-sdk-interface": "accounts.listAccounts",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/accounts\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.listAccounts()"
        }]
      }
    },
    "/admin/accounts/addpendinguser": {
      "post": {
        "x-action": "addPendingUser",
        "x-audit": {
          "name": {
            "path": "body.email",
            "source": "req"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "operationId": "accounts-add-pending-user-without-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "provider": {
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": ["name"],
                    "type": "object"
                  },
                  "userName": {
                    "type": "string"
                  }
                },
                "required": ["userName", "provider"],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add pending user without account",
        "parameters": [],
        "x-sdk-interface": "accounts.addPendingUserWithoutAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"account\\\":[\\\"${ACCOUNT_ARR_STR}\\\"],\\\"provider\\\":{\\\"name\\\":\\\"${NAME_STR}\\\"},\\\"userName\\\":\\\"${USER_NAME_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/addpendinguser\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.addPendingUserWithoutAccount({\n    account: [\n        `${ACCOUNT_ARR_STR}`\n    ],\n    provider: {\n        name: `${NAME_STR}`\n    },\n    userName: `${USER_NAME_STR}`\n})"
        }]
      }
    },
    "/admin/accounts/{accountId}": {
      "get": {
        "parameters": [{
          "description": "accountId of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Get an account by id",
        "operationId": "accounts-get-by-id",
        "summary": "Get by id",
        "x-sdk-interface": "accounts.getById",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ACCOUNT_ID}\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.getById({ accountId })"
        }]
      },
      "delete": {
        "x-action": "deleteAccount",
        "x-entityId": "params.accountId",
        "parameters": [{
          "description": "accountId of an object",
          "in": "path",
          "name": "accountId",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-account",
        "summary": "Delete account",
        "x-sdk-interface": "accounts.deleteAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ACCOUNT_ID}\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.deleteAccount({ accountId })"
        }]
      }
    },
    "/admin/accounts/{id}/update": {
      "post": {
        "x-action": "updateAccount",
        "x-entityId": {
          "pathId": "params.id",
          "pathName": "body.accountDetails.name"
        },
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "description": "Not implemented yet: Update the account info that only codefresh admins (codefresh employees, not account admin) can access",
        "operationId": "accounts-update-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountDetails": {
                    "type": "object",
                    "properties": {
                      "integrations": {
                        "type": "object",
                        "x-secure": true
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Update account",
        "x-sdk-interface": "accounts.updateAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"accountDetails\\\":{\\\"integrations\\\":${INTEGRATIONS_OBJ}}}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ID}/update\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.updateAccount({ id }, {\n    accountDetails: {\n        integrations: { ...INTEGRATIONS_OBJ }\n    }\n})"
        }]
      }
    },
    "/admin/accounts/{id}/rename": {
      "post": {
        "x-action": "renameAccount",
        "x-entityId": {
          "pathId": "params.id",
          "pathName": "body.name"
        },
        "parameters": [{
          "description": "id of an object",
          "in": "path",
          "name": "id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Accounts"],
        "operationId": "accounts-update-account-by-admin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "integrations": {
                    "type": "object",
                    "x-secure": true
                  }
                }
              }
            }
          }
        },
        "summary": "Rename account",
        "x-sdk-interface": "accounts.renameAccountByAdmin",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"integrations\\\":${INTEGRATIONS_OBJ}}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ID}/rename\""
        }, {
          "lang": "node.js",
          "source": "sdk.accounts.renameAccountByAdmin({ id }, {\n    integrations: { ...INTEGRATIONS_OBJ }\n})"
        }]
      }
    },
    "/admin/runtime-environments": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments."],
        "operationId": "onPrem-runtimeEnvs-list",
        "parameters": [{
          "in": "query",
          "name": "limit",
          "schema": {
            "type": "string"
          },
          "description": "Limit"
        }, {
          "in": "query",
          "name": "offset",
          "schema": {
            "type": "string"
          },
          "description": "Offset"
        }, {
          "in": "query",
          "name": "accountIds",
          "schema": {
            "type": "string"
          },
          "description": "Account ids"
        }],
        "summary": "List",
        "x-sdk-interface": "onPrem.runtimeEnvs.list",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments?limit=${LIMIT}&offset=${OFFSET}&accountIds=${ACCOUNT_IDS}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.list({ limit, offset, accountIds })"
        }]
      }
    },
    "/admin/runtime-environments/account/default/{account}/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "setDefaultRuntimeEnvByAdminToAccount",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Account)"],
        "operationId": "onPrem-runtimeEnvs-account-set-default",
        "parameters": [{
          "in": "path",
          "name": "account",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Account"
        }, {
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }],
        "summary": "Set default for account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.setDefault",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/account/default/${ACCOUNT}/${RUNTIME_ENVIRONMENT_NAME}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.account.setDefault({ account, runtimeEnvironmentName })"
        }]
      }
    },
    "/admin/runtime-environments/account/modify/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "addRuntimeEnvToAccountByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Account)"],
        "operationId": "onPrem-runtimeEnvs-account-modify",
        "parameters": [{
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }],
        "summary": "Add to account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.modify",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/account/modify/${RUNTIME_ENVIRONMENT_NAME}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.account.modify({ runtimeEnvironmentName })"
        }]
      },
      "delete": {
        "x-action": "removeRuntimeEnvFromAccountByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Account)"],
        "operationId": "onPrem-runtimeEnvs-account-delete",
        "parameters": [{
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }],
        "summary": "Delete for account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/account/modify/${RUNTIME_ENVIRONMENT_NAME}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.account.delete({ runtimeEnvironmentName })"
        }]
      }
    },
    "/admin/runtime-environments/account/{account}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Account)"],
        "operationId": "onPrem-runtimeEnvs-account-list",
        "parameters": [{
          "in": "path",
          "name": "account",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Account"
        }, {
          "in": "query",
          "name": "limit",
          "schema": {
            "type": "string"
          },
          "description": "Limit"
        }, {
          "in": "query",
          "name": "offset",
          "schema": {
            "type": "string"
          },
          "description": "Offset"
        }, {
          "in": "query",
          "name": "accountIds",
          "schema": {
            "type": "string"
          },
          "description": "Account ids"
        }],
        "summary": "Get by account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.list",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/account/${ACCOUNT}?limit=${LIMIT}&offset=${OFFSET}&accountIds=${ACCOUNT_IDS}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.account.list({\n    account,\n    limit,\n    offset,\n    accountIds\n})"
        }]
      }
    },
    "/admin/runtime-environments/default/{plan}/{runtimeEnvironmentName}": {
      "put": {
        "x-action": "setDefaultRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Plan)"],
        "operationId": "onPrem-runtimeEnvs-plan-set-default",
        "parameters": [{
          "in": "path",
          "name": "plan",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Plan"
        }, {
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }],
        "summary": "Set default",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.setDefault",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/default/${PLAN}/${RUNTIME_ENVIRONMENT_NAME}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.plan.setDefault({ plan, runtimeEnvironmentName })"
        }]
      }
    },
    "/admin/runtime-environments/{runtimeEnvironmentName}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (System)"],
        "operationId": "onPrem-runtimeEnvs-system-get",
        "parameters": [{
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }, {
          "in": "query",
          "name": "version",
          "schema": {
            "type": "string"
          },
          "description": "Version"
        }, {
          "in": "query",
          "name": "extend",
          "schema": {
            "type": "string"
          },
          "description": "Extend"
        }, {
          "in": "query",
          "name": "history",
          "schema": {
            "type": "string"
          },
          "description": "History"
        }, {
          "in": "query",
          "name": "successors",
          "schema": {
            "type": "string"
          },
          "description": "Successors"
        }],
        "summary": "Get sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.get",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${RUNTIME_ENVIRONMENT_NAME}?version=${VERSION}&extend=${EXTEND}&history=${HISTORY}&successors=${SUCCESSORS}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.system.get({\n    runtimeEnvironmentName,\n    version,\n    extend,\n    history,\n    successors\n})"
        }]
      },
      "put": {
        "x-action": "upsertRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (System)"],
        "operationId": "onPrem-runtimeEnvs-system-update",
        "parameters": [{
          "in": "path",
          "name": "runtimeEnvironmentName",
          "description": "Runtime environment name",
          "schema": {
            "type": "string"
          },
          "required": true
        }, {
          "in": "query",
          "name": "extend",
          "description": "Extend or not",
          "schema": {
            "type": "string"
          }
        }, {
          "in": "query",
          "name": "description",
          "description": "Description",
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.update",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${RUNTIME_ENVIRONMENT_NAME}?extend=${EXTEND}&description=${DESCRIPTION}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.system.update({ runtimeEnvironmentName, extend, description }, { ...REQUEST_BODY_OBJ })"
        }]
      },
      "delete": {
        "x-action": "deleteRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (System)"],
        "operationId": "onPrem-runtimeEnvs-system-delete",
        "parameters": [{
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }, {
          "in": "query",
          "name": "force",
          "schema": {
            "type": "string"
          },
          "description": "Force"
        }],
        "summary": "Delete sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${RUNTIME_ENVIRONMENT_NAME}?force=${FORCE}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.system.delete({ runtimeEnvironmentName, force })"
        }]
      }
    },
    "/admin/runtime-environments/{plan}/{runtimeEnvironmentName}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments."],
        "operationId": "onPrem-runtimeEnvs-plan-get",
        "parameters": [{
          "in": "path",
          "name": "plan",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Plan"
        }, {
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }, {
          "in": "query",
          "name": "version",
          "schema": {
            "type": "string"
          },
          "description": "Version"
        }, {
          "in": "query",
          "name": "extend",
          "schema": {
            "type": "string"
          },
          "description": "Extend"
        }, {
          "in": "query",
          "name": "history",
          "schema": {
            "type": "string"
          },
          "description": "History"
        }, {
          "in": "query",
          "name": "successors",
          "schema": {
            "type": "string"
          },
          "description": "Successors"
        }],
        "summary": "Get",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.get",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${PLAN}/${RUNTIME_ENVIRONMENT_NAME}?version=${VERSION}&extend=${EXTEND}&history=${HISTORY}&successors=${SUCCESSORS}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.plan.get({\n    plan,\n    runtimeEnvironmentName,\n    version,\n    extend,\n    history,\n    successors\n})"
        }]
      },
      "put": {
        "x-action": "upsertRuntimeEnvByAdmin",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Plan)"],
        "operationId": "onPrem-runtimeEnvs-plan-update",
        "parameters": [{
          "in": "path",
          "name": "plan",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Plan"
        }, {
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }, {
          "in": "query",
          "name": "extend",
          "schema": {
            "type": "string"
          },
          "description": "Extend"
        }, {
          "in": "query",
          "name": "description",
          "schema": {
            "type": "string"
          },
          "description": "Description"
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.update",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${PLAN}/${RUNTIME_ENVIRONMENT_NAME}?extend=${EXTEND}&description=${DESCRIPTION}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.plan.update({\n    plan,\n    runtimeEnvironmentName,\n    extend,\n    description\n}, { ...REQUEST_BODY_OBJ })"
        }]
      },
      "delete": {
        "x-action": "deleteRuntimeEnvByAdmin",
        "x-entityId": {
          "pathName": "params.runtimeEnvironmentName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Runtime Environments (Plan)"],
        "operationId": "onPrem-runtimeEnvs-plan-delete",
        "parameters": [{
          "in": "path",
          "name": "plan",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Plan"
        }, {
          "in": "path",
          "name": "runtimeEnvironmentName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Runtime environment name"
        }, {
          "in": "query",
          "name": "force",
          "schema": {
            "type": "string"
          },
          "description": "Force"
        }],
        "summary": "Delete",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${PLAN}/${RUNTIME_ENVIRONMENT_NAME}?force=${FORCE}\""
        }, {
          "lang": "node.js",
          "source": "sdk.onPrem.runtimeEnvs.plan.delete({ plan, runtimeEnvironmentName, force })"
        }]
      }
    },
    "/admin/user/{userName}": {
      "delete": {
        "x-action": "deleteUser",
        "x-entityId": {
          "pathName": "params.userName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["user"],
        "operationId": "user-delete",
        "parameters": [{
          "in": "path",
          "name": "userName",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "User name"
        }],
        "summary": "Delete",
        "x-sdk-interface": "user.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/user/${USER_NAME}\""
        }, {
          "lang": "node.js",
          "source": "sdk.user.delete({ userName })"
        }]
      }
    },
    "/admin/user/adminRole": {
      "post": {
        "x-action": "changeAdminRole",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "body.userName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["user"],
        "operationId": "user-change-admin-role",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Change role",
        "x-sdk-interface": "user.changeRole",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/user/adminRole\""
        }, {
          "lang": "node.js",
          "source": "sdk.user.changeRole({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      }
    },
    "/admin/user/account": {
      "post": {
        "x-action": "changeUserAccount",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "body.userName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["user"],
        "operationId": "user-change-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "account": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "x-secure": true
                  }
                }
              }
            }
          }
        },
        "summary": "Change account",
        "x-sdk-interface": "user.changeAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"account\\\":[${ACCOUNT_ARR_OBJ}]}\" \\\n    \"https://g.codefresh.io/api/admin/user/account\""
        }, {
          "lang": "node.js",
          "source": "sdk.user.changeAccount({\n    account: [\n        { ...ACCOUNT_ARR_OBJ }\n    ]\n})"
        }],
        "parameters": []
      }
    },
    "/admin/user/localProvider": {
      "post": {
        "x-action": "updateLocalProviderPassword",
        "x-entityId": {
          "pathName": "request.body.userName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["user"],
        "operationId": "user-update-local-provider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "x-secure": true
                  }
                }
              }
            }
          }
        },
        "summary": "Update local provider",
        "x-sdk-interface": "user.updateLocalProvider",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"password\\\":\\\"${PASSWORD_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/admin/user/localProvider\""
        }, {
          "lang": "node.js",
          "source": "sdk.user.updateLocalProvider({\n    password: `${PASSWORD_STR}`\n})"
        }],
        "parameters": []
      },
      "delete": {
        "x-action": "deleteLocalProvider",
        "x-entityId": {
          "pathName": "query.userName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["user"],
        "operationId": "user-delete-local-provider",
        "summary": "Delete local provider",
        "x-sdk-interface": "user.deleteLocalProvider",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/user/localProvider\""
        }, {
          "lang": "node.js",
          "source": "sdk.user.deleteLocalProvider()"
        }],
        "parameters": []
      }
    },
    "/admin/user/{userId}/activate": {
      "post": {
        "x-action": "activateUser",
        "x-entityId": "params.userId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["user"],
        "operationId": "user-activate-user",
        "parameters": [{
          "in": "path",
          "name": "userId",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "User ID"
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Activate user",
        "x-sdk-interface": "user.activate.user",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/user/${USER_ID}/activate\""
        }, {
          "lang": "node.js",
          "source": "sdk.user.activate.user({ userId }, { ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/admin/idp": {
      "post": {
        "x-action": "createIDP",
        "x-audit": {
          "name": {
            "path": "body.clientName",
            "source": "req"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["idp"],
        "operationId": "idp-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": ["clientName", "clientType"]
                }
              }
            }
          }
        },
        "summary": "Create IDP",
        "x-sdk-interface": "idp.create",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/idp\""
        }, {
          "lang": "node.js",
          "source": "sdk.idp.create({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      },
      "put": {
        "x-action": "updateIDP",
        "x-entityId": {
          "pathId": "body._id",
          "pathName": "body.clientName"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["idp"],
        "operationId": "idp-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": ["clientName", "clientType"]
                }
              }
            }
          }
        },
        "summary": "Update IDP",
        "x-sdk-interface": "idp.update",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/idp\""
        }, {
          "lang": "node.js",
          "source": "sdk.idp.update({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      }
    },
    "/admin/idp/addAccount": {
      "post": {
        "x-action": "addAccountToIDP",
        "x-entityId": "body.IDPConfigId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["idp"],
        "operationId": "idp-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Add to account",
        "x-sdk-interface": "idp.add-account",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/idp/addAccount\""
        }, {
          "lang": "node.js",
          "source": "sdk.idp.add-account({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      }
    },
    "/admin/idp/{id}": {
      "delete": {
        "x-action": "deleteIDP",
        "x-entityId": "params.id",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["idp"],
        "operationId": "idp-delete",
        "parameters": [{
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "idp id"
        }],
        "summary": "Delete",
        "x-sdk-interface": "idp.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/idp/${ID}\""
        }, {
          "lang": "node.js",
          "source": "sdk.idp.delete({ id })"
        }]
      }
    },
    "/admin/analytic/addAccount": {
      "put": {
        "x-action": "addAccountToAnalytic",
        "x-entityId": {
          "pathName": "body.name"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["analytic"],
        "operationId": "analytic-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "x-allowed": {
                  "body": ["name"]
                }
              }
            }
          }
        },
        "summary": "Add account",
        "x-sdk-interface": "analytic.add.account",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/analytic/addAccount\""
        }, {
          "lang": "node.js",
          "source": "sdk.analytic.add.account({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      }
    },
    "/admin/customers": {
      "post": {
        "x-action": "createCustomer",
        "x-audit": {
          "name": {
            "path": "body.name",
            "source": "req"
          },
          "id": {
            "path": "_id",
            "source": "res"
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["customers"],
        "operationId": "customers-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Create",
        "x-sdk-interface": "customers.create",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/customers\""
        }, {
          "lang": "node.js",
          "source": "sdk.customers.create({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      }
    },
    "/admin/customers/{customerId}/{accountId}/assignAccountToCustomer": {
      "post": {
        "x-action": "assignAccountToCustomer",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["customers"],
        "operationId": "customers-assign-account",
        "parameters": [{
          "in": "path",
          "name": "customerId",
          "schema": {
            "type": "string"
          },
          "description": "Customer ID",
          "required": true
        }, {
          "in": "path",
          "name": "accountId",
          "schema": {
            "type": "string"
          },
          "description": "Account ID",
          "required": true
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Assign account",
        "x-sdk-interface": "customers.assignAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/customers/${CUSTOMER_ID}/${ACCOUNT_ID}/assignAccountToCustomer\""
        }, {
          "lang": "node.js",
          "source": "sdk.customers.assignAccount({ customerId, accountId }, { ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/admin/customers/{customerId}/updateCustomerLimits": {
      "put": {
        "x-action": "updateCustomerLimits",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["customers"],
        "operationId": "customers-update-limits",
        "parameters": [{
          "in": "path",
          "name": "customerId",
          "schema": {
            "type": "string"
          },
          "description": "Customer ID",
          "required": true
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update limits",
        "x-sdk-interface": "customers.updateLimits",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/customers/${CUSTOMER_ID}/updateCustomerLimits\""
        }, {
          "lang": "node.js",
          "source": "sdk.customers.updateLimits({ customerId }, { ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/admin/customers/{customerId}/{accountId}/detachAccountFromCustomer": {
      "post": {
        "x-action": "detachAccountFromCustomer",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["customers"],
        "operationId": "customers-detach-account",
        "parameters": [{
          "in": "path",
          "name": "customerId",
          "schema": {
            "type": "string"
          },
          "description": "Customer ID",
          "required": true
        }, {
          "in": "path",
          "name": "accountId",
          "schema": {
            "type": "string"
          },
          "description": "Account ID",
          "required": true
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Detach account",
        "x-sdk-interface": "customers.detachAccount",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/customers/${CUSTOMER_ID}/${ACCOUNT_ID}/detachAccountFromCustomer\""
        }, {
          "lang": "node.js",
          "source": "sdk.customers.detachAccount({ customerId, accountId }, { ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/admin/customers/{customerId}/{userId}/addCustomerAdmin": {
      "post": {
        "x-action": "addCustomerAdmin",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["customers"],
        "operationId": "customers-add-admin",
        "parameters": [{
          "in": "path",
          "name": "customerId",
          "schema": {
            "type": "string"
          },
          "description": "Customer ID",
          "required": true
        }, {
          "in": "path",
          "name": "userId",
          "schema": {
            "type": "string"
          },
          "description": "User ID",
          "required": true
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Add admit",
        "x-sdk-interface": "customers.addAdmin",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/customers/${CUSTOMER_ID}/${USER_ID}/addCustomerAdmin\""
        }, {
          "lang": "node.js",
          "source": "sdk.customers.addAdmin({ customerId, userId }, { ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/admin/customers/{customerId}/{userId}/removeCustomerAdmin": {
      "post": {
        "x-action": "removeCustomerAdmin",
        "x-entityId": "params.customerId",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["customers"],
        "operationId": "customers-remove-admin",
        "parameters": [{
          "in": "path",
          "name": "customerId",
          "schema": {
            "type": "string"
          },
          "description": "Customer ID",
          "required": true
        }, {
          "in": "path",
          "name": "userId",
          "schema": {
            "type": "string"
          },
          "description": "User ID",
          "required": true
        }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Remove admin",
        "x-sdk-interface": "customers.removeAdmin",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/customers/${CUSTOMER_ID}/${USER_ID}/removeCustomerAdmin\""
        }, {
          "lang": "node.js",
          "source": "sdk.customers.removeAdmin({ customerId, userId }, { ...REQUEST_BODY_OBJ })"
        }]
      }
    },
    "/admin/approval/approve": {
      "post": {
        "x-action": "submitApproval",
        "x-entityId": "body._id",
        "x-overrides": ["addResponseBody"],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "json"
          }
        },
        "tags": ["Approval"],
        "operationId": "approval-submit-aproval",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Submit approval",
        "x-sdk-interface": "approval.submitApproval",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/approval/approve\""
        }, {
          "lang": "node.js",
          "source": "sdk.approval.submitApproval({ ...REQUEST_BODY_OBJ })"
        }],
        "parameters": []
      }
    },
    "/favorites": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": ["favorites"],
        "operationId": "favorites-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "entities": {
                    "type": "string"
                  },
                  "type": {
                    "enum": ["repo", "pipeline-branch", "step-type"],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create",
        "parameters": [],
        "x-sdk-interface": "favorites.create",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"entities\\\":\\\"${ENTITIES_STR}\\\",\\\"type\\\":\\\"${TYPE_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/favorites\""
        }, {
          "lang": "node.js",
          "source": "sdk.favorites.create({\n    entities: `${ENTITIES_STR}`,\n    type: `${TYPE_STR}`\n})"
        }]
      },
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": ["favorites"],
        "operationId": "favorites-delete",
        "summary": "Delete favorite entities",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "entities": {
                    "type": "string"
                  },
                  "type": {
                    "enum": ["repo", "pipeline-branch", "step-type"],
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "x-sdk-interface": "favorites.delete",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"entities\\\":\\\"${ENTITIES_STR}\\\",\\\"type\\\":\\\"${TYPE_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/favorites\""
        }, {
          "lang": "node.js",
          "source": "sdk.favorites.delete({\n    entities: `${ENTITIES_STR}`,\n    type: `${TYPE_STR}`\n})"
        }]
      }
    },
    "/favorites/{type}": {
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "userId": {
                        "type": "string"
                      },
                      "type": {
                        "enum": ["repo", "pipeline-branch", "step-type"],
                        "type": "string"
                      },
                      "data": {
                        "type": "object"
                      },
                      "entities": {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Favorites objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": ["favorites"],
        "operationId": "favorites-list",
        "summary": "List",
        "parameters": [{
          "description": "Entity type",
          "in": "path",
          "name": "type",
          "required": true,
          "schema": {
            "enum": ["repo", "pipeline-branch", "step-type"],
            "type": "string"
          }
        }],
        "x-sdk-interface": "favorites.list",
        "x-code-samples": [{
          "lang": "curl",
          "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/favorites/${TYPE}\""
[...]
