{
  "openapi": "3.0.0",
  "info": {
    "contact": {
      "name": "Codefresh",
      "url": "https://www.codefresh.io"
    },
    "description": "Codefresh API openAPI 3.0 specification",
    "termsOfService": "https://codefresh.io/docs/docs/terms-and-privacy-policy/terms-of-service/",
    "title": "Codefresh API",
    "version": "0.0.1",
    "x-logo": {
      "url": "https://i.ibb.co/X7kg7jb/image.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Codefresh"
    }
  },
  "servers": [
    {
      "url": "https://g.codefresh.io/api"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "x-filters": [
    {
      "pathRegex": "/builds/{serviceId}/",
      "methods": [
        "post"
      ]
    },
    {
      "pathRegex": "/builds/{buildId}/update",
      "methods": [
        "post"
      ]
    },
    {
      "tags": [
        "users",
        "firebase",
        "version",
        "payments"
      ]
    }
  ],
  "x-tagGroups": [
    {
      "name": "Pipelines / Builds",
      "tags": [
        "Builds",
        "Firebase",
        "Images",
        "Pipelines",
        "Progress",
        "Triggers",
        "Triggers Events",
        "Triggers Types",
        "Version"
      ]
    },
    {
      "name": "Kubernetes / Helm",
      "tags": [
        "Helm Boards",
        "Helm Charts",
        "Helm Releases",
        "Helm Sections",
        "Kubernetes"
      ]
    },
    {
      "name": "Swarm",
      "tags": [
        "Compositions",
        "Environments"
      ]
    },
    {
      "name": "Integrations / Contexts",
      "tags": [
        "Clusters",
        "Codefresh Registry",
        "Contexts",
        "Helm Repos",
        "Repos"
      ]
    },
    {
      "name": "Account Management",
      "tags": [
        "Abac",
        "Accounts",
        "Payments",
        "Runtime Environments",
        "Teams",
        "Tokens",
        "Users"
      ]
    },
    {
      "name": "On-Premise",
      "tags": [
        "Features",
        "Runtime Environments",
        "Runtime Environments (Account)",
        "Runtime Environments (Plan)",
        "Runtime Environments (System)"
      ]
    }
  ],
  "tags": [
    {
      "name": "Pipelines",
      "description": "pipelines",
      "x-id": "pipelines"
    },
    {
      "name": "Builds",
      "description": "builds",
      "x-id": "builds"
    },
    {
      "name": "Contexts",
      "description": "contexts",
      "x-id": "contexts"
    },
    {
      "name": "Images",
      "description": "images",
      "x-id": "images"
    },
    {
      "name": "Triggers",
      "description": "triggers",
      "x-id": "triggers"
    },
    {
      "name": "Triggers Types",
      "description": "triggers.types",
      "x-id": "triggers.types"
    },
    {
      "name": "Triggers Events",
      "description": "triggers.events",
      "x-id": "triggers.events"
    },
    {
      "name": "Environments",
      "description": "environments",
      "x-id": "environments"
    },
    {
      "name": "Compositions",
      "description": "compositions",
      "x-id": "compositions"
    },
    {
      "name": "Helm Charts",
      "description": "helm.charts",
      "x-id": "helm.charts"
    },
    {
      "name": "Helm Releases",
      "description": "helm.releases",
      "x-id": "helm.releases"
    },
    {
      "name": "Helm Repos",
      "description": "helm.repos",
      "x-id": "helm.repos"
    },
    {
      "name": "Helm Boards",
      "description": "helm.boards",
      "x-id": "helm.boards"
    },
    {
      "name": "Helm Sections",
      "description": "helm.sections",
      "x-id": "helm.sections"
    },
    {
      "name": "Repos",
      "description": "repos",
      "x-id": "repos"
    },
    {
      "name": "Teams",
      "description": "teams",
      "x-id": "teams"
    },
    {
      "name": "Kubernetes",
      "description": "kubernetes",
      "x-id": "kubernetes"
    },
    {
      "name": "Version",
      "description": "version",
      "x-id": "version"
    },
    {
      "name": "Firebase",
      "description": "firebase",
      "x-id": "firebase"
    },
    {
      "name": "Users",
      "description": "users",
      "x-id": "users"
    },
    {
      "name": "Runtime Environments",
      "description": "runtimeEnvs",
      "x-id": "runtimeEnvs"
    },
    {
      "name": "Registries",
      "description": "registries",
      "x-id": "registries"
    },
    {
      "name": "Codefresh Registry",
      "description": "Codefresh Registry",
      "x-id": "registries"
    },
    {
      "name": "Progress",
      "description": "progress",
      "x-id": "progress"
    },
    {
      "name": "Payments",
      "description": "payments",
      "x-id": "payments"
    },
    {
      "name": "Features",
      "description": "features",
      "x-id": "features"
    },
    {
      "name": "Clusters",
      "description": "clusters",
      "x-id": "clusters"
    },
    {
      "name": "Tokens",
      "description": "tokens",
      "x-id": "tokens"
    },
    {
      "name": "Runtime Environments",
      "description": "onPrem.runtimeEnvs",
      "x-id": "onPrem.runtimeEnvs"
    },
    {
      "name": "Runtime Environments (Plan)",
      "description": "onPrem.runtimeEnvs.plan",
      "x-id": "onPrem.runtimeEnvs.plan"
    },
    {
      "name": "Runtime Environments (System)",
      "description": "onPrem.runtimeEnvs.system",
      "x-id": "onPrem.runtimeEnvs.system"
    },
    {
      "name": "Runtime Environments (Account)",
      "description": "onPrem.runtimeEnvs.account",
      "x-id": "onPrem.runtimeEnvs.account"
    },
    {
      "name": "Accounts",
      "description": "accounts",
      "x-id": "accounts"
    },
    {
      "name": "Abac",
      "description": "abac",
      "x-id": "abac"
    }
  ],
  "paths": {
    "/abac": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "action": {
                    "type": "string"
                  },
                  "resource": {
                    "type": "string"
                  },
                  "team": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rule",
        "parameters": [],
        "x-sdk-interface": "abac.rules.create",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"tags\\\":[${TAGS_OBJ}],\\\"action\\\":\\\"${ACTION_STR}\\\",\\\"resource\\\":\\\"${RESOURCE_STR}\\\",\\\"team\\\":\\\"${TEAM_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/abac\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.create({\n    tags: [\n        { ...TAGS_OBJ }\n    ],\n    action: `${ACTION_STR}`,\n    resource: `${RESOURCE_STR}`,\n    team: `${TEAM_STR}`\n})"
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-list",
        "summary": "List rules",
        "parameters": [],
        "x-sdk-interface": "abac.rules.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.list()"
          }
        ]
      }
    },
    "/abac/batch": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-create-or-delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "create": {
                    "items": {
                      "properties": {
                        "teams": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "actions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "resource": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "type": "array"
                  },
                  "delete": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create or delete rules",
        "parameters": [],
        "x-sdk-interface": "abac.rules.createOrDelete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"create\\\":[${CREATE_OBJ}],\\\"delete\\\":[${DELETE_OBJ}]}\" \\\n    \"https://g.codefresh.io/api/abac/batch\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.createOrDelete({\n    create: [\n        { ...CREATE_OBJ }\n    ],\n    delete: [\n        { ...DELETE_OBJ }\n    ]\n})"
          }
        ]
      }
    },
    "/abac/resource/{resource}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the resource",
            "in": "path",
            "name": "resource",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-list-by-resource",
        "summary": "Get rules by resource",
        "x-sdk-interface": "abac.rules.listByResource",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/resource/${RESOURCE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.listByResource({ resource })"
          }
        ]
      }
    },
    "/abac/tags/rule/{rule}": {
      "post": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-tags-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Update rule tags",
        "x-sdk-interface": "abac.rules.tags.update",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"tags\\\":[${TAGS_OBJ}]}\" \\\n    \"https://g.codefresh.io/api/abac/tags/rule/${RULE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.tags.update({ rule }, {\n    tags: [\n        { ...TAGS_OBJ }\n    ]\n})"
          }
        ]
      }
    },
    "/abac/tags/rules": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-tags-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "tags": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "rules": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create rules tags",
        "parameters": [],
        "x-sdk-interface": "abac.rules.tags.create",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"tags\\\":[${TAGS_OBJ}],\\\"rules\\\":[${RULES_OBJ}]}\" \\\n    \"https://g.codefresh.io/api/abac/tags/rules\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.tags.create({\n    tags: [\n        { ...TAGS_OBJ }\n    ],\n    rules: [\n        { ...RULES_OBJ }\n    ]\n})"
          }
        ]
      }
    },
    "/abac/team/{teamId}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the team",
            "in": "path",
            "name": "teamId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-list-by-team",
        "summary": "Get rules by team id",
        "x-sdk-interface": "abac.rules.listByTeam",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/team/${TEAM_ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.listByTeam({ teamId })"
          }
        ]
      }
    },
    "/abac/teamRules": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-create-in-batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "teams": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resource": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "summary": "Create rules in batch",
        "parameters": [],
        "x-sdk-interface": "abac.rules.createInBatch",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/abac/teamRules\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.createInBatch({ ...REQUEST_BODY_OBJ })"
          }
        ]
      }
    },
    "/abac/{rule}": {
      "get": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-get",
        "summary": "Get rule",
        "x-sdk-interface": "abac.rules.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/${RULE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.get({ rule })"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "description": "The id of the rule",
            "in": "path",
            "name": "rule",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Abac"
        ],
        "operationId": "abac-rules-delete",
        "summary": "Delete rule",
        "x-sdk-interface": "abac.rules.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/abac/${RULE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.abac.rules.delete({ rule })"
          }
        ]
      }
    },
    "/accounts/{accountId}/{userId}": {
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-user-from-account",
        "summary": "Delete user from account",
        "x-sdk-interface": "accounts.deleteUserFromAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.deleteUserFromAccount({ accountId, userId })"
          }
        ]
      }
    },
    "/accounts/{accountId}/{userId}/adduser": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts-add-existing-user-to-account",
        "summary": "Add existing user to account",
        "x-sdk-interface": "accounts.addExistingUserToAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/adduser\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.addExistingUserToAccount({ accountId, userId })"
          }
        ]
      }
    },
    "/accounts/{accountId}/{userId}/admin": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts-set-as-admin",
        "summary": "Set as admin",
        "x-sdk-interface": "accounts.setAsAdmin",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/admin\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.setAsAdmin({ accountId, userId })"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "id of an object",
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts-delete-admin",
        "summary": "Delete admin",
        "x-sdk-interface": "accounts.deleteAdmin",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ACCOUNT_ID}/${USER_ID}/admin\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.deleteAdmin({ accountId, userId })"
          }
        ]
      }
    },
    "/accounts/{id}/adduser": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Adds a not existing user to an account. the provider field is optional and if not provided it will be taken from the account model",
        "operationId": "accounts-add-user-to-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userDetails": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Add user to account",
        "x-sdk-interface": "accounts.addUserToAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"userDetails\\\":\\\"${USER_DETAILS_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/accounts/${ID}/adduser\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.addUserToAccount({ id }, {\n    userDetails: `${USER_DETAILS_STR}`\n})"
          }
        ]
      }
    },
    "/accounts/{id}/update": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Not implemented yet: update the user defined account fields. Receives a settings object (will be defined later)",
        "operationId": "accounts-update-account-public-settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "notifications": {
                    "items": {
                      "properties": {
                        "events": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "slack": {
                          "properties": {
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "type": {
                          "enum": [
                            "webhook",
                            "slack"
                          ],
                          "type": "string"
                        },
                        "webhook": {
                          "properties": {
                            "method": {
                              "type": "string"
                            },
                            "uri": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update account public settings",
        "x-sdk-interface": "accounts.updateAccountPublicSettings",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"notifications\\\":[${NOTIFICATIONS_OBJ},${NOTIFICATIONS_OBJ}]}\" \\\n    \"https://g.codefresh.io/api/accounts/${ID}/update\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.updateAccountPublicSettings({ id }, {\n    notifications: [\n        { ...NOTIFICATIONS_OBJ },\n        { ...NOTIFICATIONS_OBJ }\n    ]\n})"
          }
        ]
      }
    },
    "/accounts/{id}/updateuser": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-update-user-details",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update user details",
        "x-sdk-interface": "accounts.updateUserDetails",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"settings\\\":${SETTINGS_OBJ}}\" \\\n    \"https://g.codefresh.io/api/accounts/${ID}/updateuser\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.updateUserDetails({ id }, {\n    settings: { ...SETTINGS_OBJ }\n})"
          }
        ]
      }
    },
    "/accounts/{id}/users": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "List users of an account",
        "operationId": "accounts-get-users-for-account",
        "summary": "Get users for account",
        "x-sdk-interface": "accounts.getUsersForAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/accounts/${ID}/users\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.getUsersForAccount({ id })"
          }
        ]
      }
    },
    "/admin/accounts": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Add new account. Receives an account object ",
        "operationId": "accounts-add-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add account",
        "parameters": [],
        "x-sdk-interface": "accounts.addAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"name\\\":\\\"${NAME_STR}\\\",\\\"provider\\\":\\\"${PROVIDER_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/admin/accounts\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.addAccount({\n    name: `${NAME_STR}`,\n    provider: `${PROVIDER_STR}`\n})"
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "get all the accounts in the system",
        "operationId": "accounts-list-accounts",
        "summary": "List accounts",
        "parameters": [],
        "x-sdk-interface": "accounts.listAccounts",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/accounts\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.listAccounts()"
          }
        ]
      }
    },
    "/admin/accounts/addpendinguser": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "operationId": "accounts-add-pending-user-without-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "provider": {
                    "properties": {
                      "name": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "type": "object"
                  },
                  "userName": {
                    "type": "string"
                  }
                },
                "required": [
                  "userName",
                  "provider"
                ],
                "type": "object"
              }
            }
          }
        },
        "summary": "Add pending user without account",
        "parameters": [],
        "x-sdk-interface": "accounts.addPendingUserWithoutAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"account\\\":[${ACCOUNT_OBJ}],\\\"provider\\\":{\\\"name\\\":\\\"${NAME_STR}\\\"},\\\"userName\\\":\\\"${USER_NAME_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/addpendinguser\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.addPendingUserWithoutAccount({\n    account: [\n        { ...ACCOUNT_OBJ }\n    ],\n    provider: {\n        name: `${NAME_STR}`\n    },\n    userName: `${USER_NAME_STR}`\n})"
          }
        ]
      }
    },
    "/admin/accounts/{id}": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Get an account by id",
        "operationId": "accounts-get-by-id",
        "summary": "Get by id",
        "x-sdk-interface": "accounts.getById",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.getById({ id })"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Not implemented yet",
        "operationId": "accounts-delete-account",
        "summary": "Delete account",
        "x-sdk-interface": "accounts.deleteAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.deleteAccount({ id })"
          }
        ]
      }
    },
    "/admin/accounts/{id}/update": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Accounts"
        ],
        "description": "Not implemented yet: Update the account info that only codefresh admins (codefresh employees, not account admin) can access",
        "operationId": "accounts-update-account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "settings": {
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update account",
        "x-sdk-interface": "accounts.updateAccount",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"settings\\\":${SETTINGS_OBJ}}\" \\\n    \"https://g.codefresh.io/api/admin/accounts/${ID}/update\""
          },
          {
            "lang": "node.js",
            "source": "sdk.accounts.updateAccount({ id }, {\n    settings: { ...SETTINGS_OBJ }\n})"
          }
        ]
      }
    },
    "/admin/runtime-environments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments"
        ],
        "operationId": "onPrem-runtimeEnvs-list",
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "List",
        "x-sdk-interface": "onPrem.runtimeEnvs.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments?limit=${LIMIT}&offset=${OFFSET}&accountIds=${ACCOUNT_IDS}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.list({ limit, offset, accountIds })"
          }
        ]
      }
    },
    "/admin/runtime-environments/account/default/{account}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (Account)"
        ],
        "operationId": "onPrem-runtimeEnvs-account-set-default",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Set default for account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.setDefault",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/account/default/${ACCOUNT}/${NAME}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.account.setDefault({ account, name })"
          }
        ]
      }
    },
    "/admin/runtime-environments/account/{account}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (Account)"
        ],
        "operationId": "onPrem-runtimeEnvs-account-list",
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountIds",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get by account",
        "x-sdk-interface": "onPrem.runtimeEnvs.account.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/account/${ACCOUNT}?limit=${LIMIT}&offset=${OFFSET}&accountIds=${ACCOUNT_IDS}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.account.list({\n    account,\n    limit,\n    offset,\n    accountIds\n})"
          }
        ]
      }
    },
    "/admin/runtime-environments/default/{plan}/{name}": {
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (Plan)"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-set-default",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Set default",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.setDefault",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/default/${PLAN}/${NAME}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.plan.setDefault({ plan, name })"
          }
        ]
      }
    },
    "/admin/runtime-environments/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (System)"
        ],
        "operationId": "onPrem-runtimeEnvs-system-get",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${NAME}?version=${VERSION}&extend=${EXTEND}&history=${HISTORY}&successors=${SUCCESSORS}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.system.get({\n    name,\n    version,\n    extend,\n    history,\n    successors\n})"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (System)"
        ],
        "operationId": "onPrem-runtimeEnvs-system-update",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.update",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${NAME}?extend=${EXTEND}&description=${DESCRIPTION}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.system.update({ name, extend, description }, { ...REQUEST_BODY_OBJ })"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (System)"
        ],
        "operationId": "onPrem-runtimeEnvs-system-delete",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Delete sys re",
        "x-sdk-interface": "onPrem.runtimeEnvs.system.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${NAME}?force=${FORCE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.system.delete({ name, force })"
          }
        ]
      }
    },
    "/admin/runtime-environments/{plan}/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-get",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "history",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "successors",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${PLAN}/${NAME}?version=${VERSION}&extend=${EXTEND}&history=${HISTORY}&successors=${SUCCESSORS}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.plan.get({\n    plan,\n    name,\n    version,\n    extend,\n    history,\n    successors\n})"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (Plan)"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-update",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "extend",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "description",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Update",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.update",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${PLAN}/${NAME}?extend=${EXTEND}&description=${DESCRIPTION}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.plan.update({\n    plan,\n    name,\n    extend,\n    description\n}, { ...REQUEST_BODY_OBJ })"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Runtime Environments (Plan)"
        ],
        "operationId": "onPrem-runtimeEnvs-plan-delete",
        "parameters": [
          {
            "in": "path",
            "name": "plan",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "onPrem.runtimeEnvs.plan.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/admin/runtime-environments/${PLAN}/${NAME}?force=${FORCE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.onPrem.runtimeEnvs.plan.delete({ plan, name, force })"
          }
        ]
      }
    },
    "/auth/key": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Tokens"
        ],
        "operationId": "tokens-generate",
        "parameters": [
          {
            "in": "query",
            "name": "subjectType",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "subjectReference",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Generate",
        "x-sdk-interface": "tokens.generate",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/auth/key?subjectType=${SUBJECT_TYPE}&subjectReference=${SUBJECT_REFERENCE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.tokens.generate({ subjectType, subjectReference }, { ...REQUEST_BODY_OBJ })"
          }
        ]
      }
    },
    "/auth/key/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Tokens"
        ],
        "operationId": "tokens-delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "tokens.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/auth/key/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.tokens.delete({ id })"
          }
        ]
      }
    },
    "/auth/keys": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Tokens"
        ],
        "operationId": "tokens-list",
        "parameters": [],
        "summary": "List",
        "x-sdk-interface": "tokens.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/auth/keys\""
          },
          {
            "lang": "node.js",
            "source": "sdk.tokens.list()"
          }
        ]
      }
    },
    "/builds/{id}": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Builds"
        ],
        "operationId": "workflows-get",
        "summary": "Get",
        "x-sdk-interface": "workflows.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/builds/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.workflows.get({ id })"
          }
        ]
      }
    },
    "/workflow": {
      "get": {
        "operationId": "workflows-list",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trigger",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pipeline",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Builds"
        ],
        "summary": "List",
        "x-sdk-interface": "workflows.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/workflow?limit=${LIMIT}&page=${PAGE}&status=${STATUS}&trigger=${TRIGGER}&pipeline=${PIPELINE}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.workflows.list({\n    limit,\n    page,\n    status,\n    trigger,\n    pipeline\n})"
          }
        ]
      }
    },
    "/builds/{buildId}/update": {
      "post": {
        "parameters": [
          {
            "description": "id of a build object",
            "in": "path",
            "name": "buildId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Builds"
        ],
        "operationId": "workflows-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "pullRequest": {
                    "properties": {
                      "createOnSuccess": {
                        "type": "boolean"
                      },
                      "mergeOnSuccess": {
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Update",
        "x-sdk-interface": "workflows.update",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"pullRequest\\\":{\\\"createOnSuccess\\\":${CREATE_ON_SUCCESS_BOOL},\\\"mergeOnSuccess\\\":${MERGE_ON_SUCCESS_BOOL}}}\" \\\n    \"https://g.codefresh.io/api/builds/${BUILD_ID}/update\""
          },
          {
            "lang": "node.js",
            "source": "sdk.workflows.update({ buildId }, {\n    pullRequest: {\n        createOnSuccess: CREATE_ON_SUCCESS_BOOL,\n        mergeOnSuccess: MERGE_ON_SUCCESS_BOOL\n    }\n})"
          }
        ]
      }
    },
    "/builds/rebuild/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Builds"
        ],
        "operationId": "workflows-restart",
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Restart",
        "x-sdk-interface": "workflows.restart",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/builds/rebuild/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.workflows.restart({ id })"
          }
        ]
      }
    },
    "/builds/{serviceId}/": {
      "post": {
        "parameters": [
          {
            "description": "id of a service object",
            "in": "path",
            "name": "serviceId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Builds"
        ],
        "operationId": "workflows-build-by-service",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "branch": {
                    "type": "string"
                  },
                  "buildFlags": {
                    "properties": {
                      "nocache": {
                        "default": false,
                        "description": "use docker cache",
                        "type": "boolean"
                      }
                    },
                    "type": "object"
                  },
                  "sha": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Build by service",
        "x-sdk-interface": "workflows.buildByService",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"branch\\\":\\\"${BRANCH_STR}\\\",\\\"buildFlags\\\":{\\\"nocache\\\":${NOCACHE_BOOL}},\\\"sha\\\":\\\"${SHA_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/builds/${SERVICE_ID}/\""
          },
          {
            "lang": "node.js",
            "source": "sdk.workflows.buildByService({ serviceId }, {\n    branch: `${BRANCH_STR}`,\n    buildFlags: {\n        nocache: NOCACHE_BOOL\n    },\n    sha: `${SHA_STR}`\n})"
          }
        ]
      }
    },
    "/clusters": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "clusters-list",
        "parameters": [],
        "summary": "List",
        "x-sdk-interface": "clusters.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/clusters\""
          },
          {
            "lang": "node.js",
            "source": "sdk.clusters.list()"
          }
        ]
      }
    },
    "/clusters/{provider}/cluster/{id}": {
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Clusters"
        ],
        "operationId": "clusters-delete",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "clusters.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/clusters/${PROVIDER}/cluster/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.clusters.delete({ provider, id })"
          }
        ]
      }
    },
    "/compositions": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "isAdvanced": {
                    "default": false,
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "yamlJson": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create",
        "parameters": [],
        "x-sdk-interface": "compositions.create",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"isAdvanced\\\":${IS_ADVANCED_BOOL},\\\"name\\\":\\\"${NAME_STR}\\\",\\\"vars\\\":[${VARS_OBJ}],\\\"yamlJson\\\":\\\"${YAML_JSON_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/compositions\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.create({\n    isAdvanced: IS_ADVANCED_BOOL,\n    name: `${NAME_STR}`,\n    vars: [\n        { ...VARS_OBJ }\n    ],\n    yamlJson: `${YAML_JSON_STR}`\n})"
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-list",
        "summary": "List",
        "parameters": [],
        "x-sdk-interface": "compositions.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/compositions\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.list()"
          }
        ]
      }
    },
    "/compositions/{id}/run": {
      "post": {
        "parameters": [
          {
            "description": "id or name of a composition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-launch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "summary": "Launch",
        "x-sdk-interface": "compositions.launch",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"vars\\\":[${VARS_OBJ}]}\" \\\n    \"https://g.codefresh.io/api/compositions/${ID}/run\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.launch({ id }, {\n    vars: [\n        { ...VARS_OBJ }\n    ]\n})"
          }
        ]
      }
    },
    "/compositions/{id}": {
      "get": {
        "parameters": [
          {
            "description": "id or name of a composition",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-get",
        "summary": "Get",
        "x-sdk-interface": "compositions.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/compositions/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.get({ id })"
          }
        ]
      },
      "put": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "isAdvanced": {
                    "default": false,
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "vars": {
                    "default": [],
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "yamlJson": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Update the name/variables/body of the composition with the id inserted",
          "required": true
        },
        "summary": "Update",
        "x-sdk-interface": "compositions.update",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"isAdvanced\\\":${IS_ADVANCED_BOOL},\\\"name\\\":\\\"${NAME_STR}\\\",\\\"vars\\\":[${VARS_OBJ}],\\\"yamlJson\\\":\\\"${YAML_JSON_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/compositions/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.update({ id }, {\n    isAdvanced: IS_ADVANCED_BOOL,\n    name: `${NAME_STR}`,\n    vars: [\n        { ...VARS_OBJ }\n    ],\n    yamlJson: `${YAML_JSON_STR}`\n})"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-patch",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Patch",
        "x-sdk-interface": "compositions.patch",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PATCH \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/compositions/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.patch({ id }, { ...REQUEST_BODY_OBJ })"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-delete",
        "summary": "Delete",
        "x-sdk-interface": "compositions.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/compositions/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.delete({ id })"
          }
        ]
      }
    },
    "/compositions/{id}/duplicate": {
      "post": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Compositions"
        ],
        "operationId": "compositions-duplicate",
        "summary": "Duplicate",
        "x-sdk-interface": "compositions.duplicate",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/compositions/${ID}/duplicate\""
          },
          {
            "lang": "node.js",
            "source": "sdk.compositions.duplicate({ id })"
          }
        ]
      }
    },
    "/contexts": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Contexts"
        ],
        "operationId": "contexts-list",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "decrypt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "List",
        "x-sdk-interface": "contexts.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/contexts?type=${TYPE}&decrypt=${DECRYPT}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.contexts.list({ type, decrypt })"
          }
        ]
      }
    },
    "/contexts/": {
      "post": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Contexts"
        ],
        "operationId": "contexts-create",
        "parameters": [
          {
            "in": "query",
            "name": "skipValidation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Create",
        "x-sdk-interface": "contexts.create",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/contexts/?skipValidation=${SKIP_VALIDATION}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.contexts.create({ skipValidation }, { ...REQUEST_BODY_OBJ })"
          }
        ]
      }
    },
    "/contexts/{name}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Contexts"
        ],
        "operationId": "contexts-get",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "decrypt",
            "schema": {
              "type": "string"
            }
          }
        ],
        "summary": "Get",
        "x-sdk-interface": "contexts.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/contexts/${NAME}?decrypt=${DECRYPT}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.contexts.get({ name, decrypt })"
          }
        ]
      },
      "put": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Contexts"
        ],
        "operationId": "contexts-replace",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Replace",
        "x-sdk-interface": "contexts.replace",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PUT \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/contexts/${NAME}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.contexts.replace({ name }, { ...REQUEST_BODY_OBJ })"
          }
        ]
      },
      "patch": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Contexts"
        ],
        "operationId": "contexts-patch",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "summary": "Patch",
        "x-sdk-interface": "contexts.patch",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X PATCH \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"${REQUEST_BODY_OBJ}\" \\\n    \"https://g.codefresh.io/api/contexts/${NAME}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.contexts.patch({ name }, { ...REQUEST_BODY_OBJ })"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Contexts"
        ],
        "operationId": "contexts-delete",
        "parameters": [
          {
            "in": "path",
            "name": "name",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Delete",
        "x-sdk-interface": "contexts.delete",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/contexts/${NAME}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.contexts.delete({ name })"
          }
        ]
      }
    },
    "/environments": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-list",
        "summary": "List",
        "parameters": [],
        "x-sdk-interface": "envs.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.list()"
          }
        ]
      }
    },
    "/environments/all/terminate": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-terminate-all",
        "summary": "Terminate all",
        "parameters": [],
        "x-sdk-interface": "envs.terminateAll",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/all/terminate\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.terminateAll()"
          }
        ]
      }
    },
    "/environments/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-get",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "summary": "Get",
        "x-sdk-interface": "envs.get",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.get({ id })"
          }
        ]
      }
    },
    "/environments/{id}/pause": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-pause",
        "summary": "Pause",
        "x-sdk-interface": "envs.pause",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/pause\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.pause({ id })"
          }
        ]
      }
    },
    "/environments/{id}/rename/{newName}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the environment to rename",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The new name to assign to the environment",
            "in": "path",
            "name": "newName",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-rename",
        "summary": "Rename",
        "x-sdk-interface": "envs.rename",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/rename/${NEW_NAME}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.rename({ id, newName })"
          }
        ]
      }
    },
    "/environments/{id}/start": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-start",
        "summary": "Start",
        "x-sdk-interface": "envs.start",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/start\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.start({ id })"
          }
        ]
      }
    },
    "/environments/{id}/status": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-status",
        "summary": "Status",
        "x-sdk-interface": "envs.status",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/status\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.status({ id })"
          }
        ]
      }
    },
    "/environments/{id}/stop": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-stop",
        "summary": "Stop",
        "x-sdk-interface": "envs.stop",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/stop\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.stop({ id })"
          }
        ]
      }
    },
    "/environments/{id}/terminate": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-terminate",
        "summary": "Terminate",
        "x-sdk-interface": "envs.terminate",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/terminate\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.terminate({ id })"
          }
        ]
      }
    },
    "/environments/{id}/unpause": {
      "get": {
        "parameters": [
          {
            "description": "id of an object",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Environments"
        ],
        "operationId": "envs-unpause",
        "summary": "Unpause",
        "x-sdk-interface": "envs.unpause",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/environments/${ID}/unpause\""
          },
          {
            "lang": "node.js",
            "source": "sdk.envs.unpause({ id })"
          }
        ]
      }
    },
    "/features/{accountId}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the account to query for feature availability",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        },
        "tags": [
          "Features"
        ],
        "operationId": "features-account",
        "summary": "Account",
        "x-sdk-interface": "features.account",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/features/${ACCOUNT_ID}\""
          },
          {
            "lang": "node.js",
            "source": "sdk.features.account({ accountId })"
          }
        ]
      }
    },
    "/helm/boards": {
      "post": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
                    },
                    "_id": {
                      "type": "string"
                    },
                    "accountId": {
                      "type": "string"
                    },
                    "filter": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Board object"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Helm Boards"
        ],
        "operationId": "helm-boards-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "filter": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "summary": "Create",
        "parameters": [],
        "x-sdk-interface": "helm.boards.create",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X POST \\\n    -H \"Authorization: ${API_KEY}\" \\\n    -H 'Content-Type: application/json; charset=utf-8' \\\n    -d \"{\\\"filter\\\":\\\"${FILTER_STR}\\\",\\\"name\\\":\\\"${NAME_STR}\\\"}\" \\\n    \"https://g.codefresh.io/api/helm/boards\""
          },
          {
            "lang": "node.js",
            "source": "sdk.helm.boards.create({\n    filter: `${FILTER_STR}`,\n    name: `${NAME_STR}`\n})"
          }
        ]
      },
      "get": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "__v": {
                        "type": "number"
                      },
                      "_id": {
                        "type": "string"
                      },
                      "accountId": {
                        "type": "string"
                      },
                      "filter": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Array of Board objects"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Helm Boards"
        ],
        "operationId": "helm-boards-list",
        "summary": "List",
        "parameters": [],
        "x-sdk-interface": "helm.boards.list",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X GET \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/helm/boards\""
          },
          {
            "lang": "node.js",
            "source": "sdk.helm.boards.list()"
          }
        ]
      },
      "delete": {
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "n": {
                      "example": 2,
                      "type": "integer"
                    },
                    "ok": {
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Result of deleting"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "status": {
                      "example": "Error",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Error"
          }
        },
        "tags": [
          "Helm Boards"
        ],
        "operationId": "helm-boards-delete-all",
        "summary": "Delete all",
        "parameters": [],
        "x-sdk-interface": "helm.boards.deleteAll",
        "x-code-samples": [
          {
            "lang": "curl",
            "source": "curl  \\\n    -X DELETE \\\n    -H \"Authorization: ${API_KEY}\" \\\n    \"https://g.codefresh.io/api/helm/boards\""
          },
          {
            "lang": "node.js",
            "source": "sdk.helm.boards.deleteAll()"
          }
        ]
      }
    },
    "/helm/boards/name/{name}": {
      "get": {
        "parameters": [
          {
            "description": "name of a board",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "include sections in response",
            "in": "query",
            "name": "columns",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "__v": {
                      "type": "number"
[...]
